.box{
    @extend %grid_reset;
	@extend %cf;
    @extend %pad;
    @extend %space_v;
    > :last-child{
    	margin-bottom: 0;
    }
}
.box_open{
	@extend %pad_h_n;
	border-width: 1px;
	border-style: solid;
    border-top-color: color(function);
    border-bottom-color: color(function);
    border-left-color: transparent;
    border-right-color: transparent;
}
.box_closed{
    border: 1px solid color(function);
}

//Creates a responsive, square container.
//Must have a .body inside for content.
.box_square{
    position: relative;
    display:block;
	overflow: hidden;
	word-break: break-word;
	@include media-query($smalls){
		@include rems(max-height, ($base-line-height * 5));
	}

	& .body{
		@extend %pad_t_half;
		@extend %pad_h_half;
		@extend %display_block;
		@extend %grid_reset;
		position: absolute;
		top: 0;
		left: 0;
		text-align: left;
	}

	&:before{
		margin-top: 100%;
		display:block;
		font-size: 0;
		color: transparent;
		content:" ";
	}

}
//
//Modifiers for box_square
//

// 3:4 box
.pano:before{
	margin-top: 75%;
}
// 1:2 box
.wide:before{
	margin-top: 50%;
}

//Media block.
// Taken from: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
// Used for floating an image of any dimension to the left of a flexible-width object that will not wrap.

%media_block {
    zoom: 1;

    & .img, & .media{
        float:left;
        word-break: break-word;
        display: inline-block;
        @include rems(margin-right, $gutter);
    }
    & .img ~ *, & .media_body {
        overflow: hidden;
    }
}
