.box {
    @extend %grid_reset;
	@extend %clearfix;
    @include type-space(padding, 1);
    @include type-space(margin-bottom, 1);

    > :last-child {
    	margin-bottom: 0;
    }
}

.box_open {
    padding-left: 0;
    padding-right: 0;
	border-width: 1px;
	border-style: solid;
    border-top-color: color(bg, dark);
    border-bottom-color: color(bg, dark);
    border-left-color: transparent;
    border-right-color: transparent;
}

.box_closed {
    border: 1px solid color(bg, dark);
}

//Creates a responsive, square container.
//Must have a .body inside for content.
.box_square {
    position: relative;
    @extend %block;
	overflow: hidden;
	word-break: break-word;

	@include media-query($breakpoint-smallest) {
		@include type-space(max-height, 5);
	}

	& .box_body {
        @include type-space(padding, .5 .5 0);
        display: block;
		position: absolute;
		top: 0;
		left: 0;
        right: 0;
		text-align: left;
	}

	&:before {
        content:" ";
		margin-top: 100%;
		display: block;
		font-size: 0;
		color: transparent;
	}

}
//
//Modifiers for box_square
//

// 3:4 box
.pano:before {
	margin-top: 75%;
}
// 1:2 box
.wide:before {
	margin-top: 50%;
}
