@mixin button(
    $flat-button: true,
    $button-color-bg: colors(link),
    $button-color-secondary: colors(link,dark),
    $button-color-text: #fff,
    $border-radius: 2px,
	$reversed: false
    )
{
    cursor: pointer;
    vertical-align: middle;
	user-select: none;
    display: inline-block;
    border-radius: $border-radius;
	text-decoration: none;
    text-align: center;
	background-color: $button-color-bg;
    @if $flat-button == true{

		@if $reversed == false{
			box-shadow: inset 0 -3px $button-color-secondary;
		}@else{
			box-shadow: inset 0 2px $button-color-secondary;
		}
        border-bottom: 0px;
    }@else{

        background-image: linear-gradient(top, $button-color-bg 0.05%, $button-color-secondary 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-bg', endColorstr='$button-color-secondary');
        box-shadow:inset 0px -1px 0px 0px lighten($button-color-bg, 10%);
        border: 1px solid lighten($button-color-bg, 5%);
        text-shadow: 1px 1px 0px pick_best_color($button-color-text,($button-color-secondary,darken($button-color-text,25%),lighten($button-color-text,25%),darken($button-color-bg,25%),lighten($button-color-bg,25%)));

    }
	color: $button-color-text;
    @extend %pad_half;


    &:hover, &:focus {
        outline: 0;
        @if $flat-button == true{

           @if $reversed == false{
			   color: mix($button-color-text, lighten($button-color-secondary, 5%), 95%);
			   background-color: lighten($button-color-secondary, 5%);
			   box-shadow: inset 0 -2px 1px darken($button-color-secondary, 10%);
		   }@else{
			   color: mix($button-color-text, lighten($button-color-bg, 5%), 95%);
			   background-color: lighten($button-color-bg, 5%);
			   box-shadow: inset 0 2px 1px lighten($button-color-secondary, 10%);
		   }
        }@else{
			color: mix($button-color-text, $button-color-secondary, 95%);
            background-color: $button-color-secondary;
            background: linear-gradient( top, $button-color-secondary 0.05%, $button-color-bg 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-secondary', endColorstr='$button-color-bg');
        }
    }

    &:active, &.active {
        position:relative;
        top: 1px;

        @if $flat-button == true{
			@if $reversed == false{
				color: mix($button-color-text, darken($button-color-secondary, 2%), 80%);
				background-color: darken($button-color-secondary, 2%);
            box-shadow: inset 0 1px 1px darken($button-color-secondary, 12%);
			}@else{
				color: mix($button-color-text, darken($button-color-bg, 5%), 80%);
				background-color: darken($button-color-bg, 5%);
            box-shadow: inset 0 -2px 0px mix($button-color-secondary, $button-color-bg, 15%);
			}
        }@else{
			color: mix($button-color-text, darken($button-color-secondary, 2%), 80%);
			background-color: darken($button-color-secondary, 2%);
            background: linear-gradient( top, darken($button-color-secondary, 5%) 0.05%, darken($button-color-bg, 5%)100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($button-color-secondary ,  5%)', endColorstr='darken($button-color-bg, 5%)');
            box-shadow: inset 0px -1px 0px 0px lighten($button-color-bg, 8%);
            text-shadow: -1px -1px 0px pick_best_color(darken($button-color-text, 10%),($button-color-secondary,darken($button-color-text,25%),lighten($button-color-text,25%),darken($button-color-bg,25%),lighten($button-color-bg,25%)));
        }
        border-color: lighten($button-color-bg, 2%);
    }
    &::selection{background: transparent;}
	&::-moz-selection{background: transparent;}
	&::-moz-focus-inner{border: 0}

}

//Useful placeholder selector for simple button creation.

%button{
    @extend %txt_bold;
    @include button(true, #0c639a, blend-colordodge(#808080,#0c639a), #ebfbff, 2px, true);
}
%button_big{
    @include type-font-size(modular-scale(2), false);
    @include type-space-sc(padding, .5, 1);
}
%button_small{
	@include type-font-size(modular-scale(0), false);
}
%button_wide{
    @extend %one_whole;
}


//Normalize
// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
// 4. Remove inner spacing in IE 7 without affecting normal text inputs.
//    Known issue: inner spacing remains in IE 6.

button,
input[type="button"], // [1]
input[type="reset"],
input[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
    -webkit-appearance: button; // [2]
    cursor: pointer; // [3]
    *overflow: visible;  // [4]
}
