/* SG

#Layout/Media object

Useful for creating an association between an image and text. Often used with an icon or a profile image.

```html
<img class="isolate_media" src="http://placehold.it/300x50" alt="placeholder image">
<p class="isolate_body">
	Content that sits to the right of the image but will never wrap underneath the image to the left. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
</p>

```
*/

%media_overflow {
	overflow: hidden;
	_overflow:visible;
	zoom:1;
}

%media_left {
	float: left;
}

%media_right {
	float: right;
}

.isolate {
	@extend %one_whole;
	@extend %block;
	@extend %clearfix;
	@extend %space_b;

	&_media {
		@extend %media_left;
		@extend %block;
		@extend %media_overflow;

		img {
			@extend %block;
		}
	}

	&_body {
		@extend %block;
		@extend %media_overflow;
		@extend %pad_l_half;
	}
}


/* SG

#Layout/Arrangement object

Creates an image-content block that vertically aligns images and text (centered, bottom, or top).

```html
<div class="arrange">
	<div class="arrange_media">
		<img src="http://placehold.it/60x50" alt="placeholder image">
	</div>
	<div class="arrange_body">
		Content that is vertically aligned.
	</div>
</div>

<!-- Bottom Arrangement -->

<div class="arrange arrange_bottom">
	<div class="arrange_media">
		<img src="http://placehold.it/60x50" alt="placeholder image">
	</div>
	<div class="arrange_body">
		Content that is bottom aligned.
	</div>
</div>
```
*/


.arrange {
	@extend %table;
	@extend %one_whole;
	@extend %space_b;

	&_media {
		@extend %table_cell;

		img {
			@extend %block;
			max-width: none;
		}
	}

	&_body {
		@extend %pad_l_half;
		@extend %one_whole;
		@extend %table_cell;
	}

	&_media, &_body {
		vertical-align: middle;

		.arrange_top > & {
			vertical-align: top;
		}

		.arrange_bottom > & {
			vertical-align: bottom;
		}

	}
}
