$components_namespace: '';

@include spacing-utilities-init(
	$namespace: $components_namespace,
	$config: (important: false, silent: true)
);

@include alignment-utilities-init(
	$namespace: $components_namespace,
	$important: false,
	$silent: true
);

@include type-utilities-init(
	$namespace: $components_namespace,
	$important: false,
	$silent: true
);
