//------------------------------------
//    $Tabs
//------------------------------------

 // CONTENTS
 // SETUP................Variables.
 // EXTENDS..............Placeholder classes for cleaner output.
 // GENERAL..............Normal styles for all tab boxes.
 // TOP-TABS.............Styles for typical tab-boxes.
 // ACCORDION-TABS.......Tabs that become accordions on mobile.
 // NESTED-TABS..........Styles for tabs inside of tabs.
 // NO-JS................Fallback styling for users without javascript.
 // SIDE-TABS............Styling for tab_side modified boxes.
 // MINIMAL-TABS.........Tabs without content borders.
 // IE8..................Styles specifically for IE8. Based on html classes.



//------------------------------------
//    $SETUP
//------------------------------------

//Output tab styles?
$include-tabs: 						true 					!default;

// Make tab buttons look like normal buttons.
// Uses an extension of %button.
$tab-inherit-button-style:          false                    !default;

//Make the active tab a darker color than the tab_content.
// Will match the border if a border exists.
$tab-invert-active:                 true                     !default;

//Show borders? If true, just enter a color. If not, enter false.
$tab-border:                  		$tab-button-bg           !default;

//Active tab-bg color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-bg:                     color(bg, darkest)   !default;

//Tab box content BG color.
//Also applied to non-inverted-active tabs.
$tab-content-bg:                    color(bg, dark)  !default;

//Inactive tab coloring
$tab-button-secondary:              pick_best_color($tab-button-bg,(
										lighten($tab-button-bg, 20%),
										lighten($tab-button-bg, 30%),
										darken($tab-button-bg, 10%)
									)) !default;

//Active tab_button text color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-text:                   #fff                     !default;

//Border radius on tabs.
$tab-border-radius:                 2px                      !default;

//Spacing between tab buttons.
$tab-spacing:                       2px                      !default;

//Include styles for tabs that appear on the side?
//These are non-essential.
$tab-side-include: 					true 					 !default;

//Include styles for minimal tab styles?
//These are non-essential.
$tab-minimal-include: 				true 					!default;



//------------------------------------
//    $EXTENDS
//------------------------------------

//Used for a more consolidated output.

%tab_color_text{
	color: $tab-button-text;
}
%tab_background{
	background-color: $tab-button-bg;
}
%tab_border_color{
	border-color: $tab-border;
}
%tab_content_bg{
	background-color: $tab-content-bg;
}
%tab_border_current{
	border-color: currentColor;
}
//------------------------------------
//    $GENERAL
//------------------------------------
//NOTE: For cleanliness and readibility,
//	the following content in this @if statement is not indented.

@if $include-tabs == true {

//-----------Required tab styling------------------------------------------
//----All of the following code is required for proper tab styling.--------
//-------------------------------------------------------------------------
//All tab boxes are wrapped in a div classed "tabbed".


/* SG
# Tabs/

Tabs start out as simple anchor + element pairings (with the anchor's href referring to an element's ID).

Using `.tab_button` on the anchor, and `.tab_content` on the element, javascript will group the tabs together until an element breaks the pattern. It will then attach the navigation and event handlers.

```
<a href="#tab1" class="tab_button">Tab 1</a>
<div id="tab1" class="tab_content">
	Content Here
</div>
<a href="#tab2" class="tab_button">Tab 1</a>
<div id="tab2" class="tab_content">
	Secondary Content Here
</div>
```
*/

/* SG
# Tabs/Another

Another tab example.

```
<div class="tabbed" data-tabbed="true">
	<nav class="tabs">
		<a class="tab active" href="#tab3">Tab 1</a>
		<a class="tab" href="#tab4">Tab 2</a>
	</nav>
	<a href="#tab3" class="tab_button">tab 1</a>
	<div id="tab3" class="tab_content">
		Content Here
	</div>
	<a href="#tab4" class="tab_button">tab 2</a>
	<div id="tab4" class="tab_content">
		Secondary Content Here
	</div>
</div>
```
*/

.tabbed{
    @extend %space_b;
    @include type-space(min-height, 3);
    @extend %cf;
}
//Mobile tab_buttons
.tab_button {
	border-style: solid;
	width: 100%;
	cursor: pointer;
	display: none;
	@extend %grid_reset; // Just making letter-spacing is normal;
	line-height: 3;
	text-decoration: none;
	margin-bottom: 0;
	@include type-space((padding-left, padding-right), .5);
	@extend %tab_background;
	border-width: 1px;
	@extend %tab_color_text;
	border-color: blend-multiply($tab-button-bg, $tab-button-bg);
	position: relative;
	z-index: 1;
	border-bottom-width: 0;

	&.active {
		@include type-space(margin-bottom, -1);
		@extend %tab_border_color;
	}

	//Affects all active tab styles, regardless of type.
	//Some styles are overwritten later.
	&.active {
		@if $tab-invert-active == true{
			@extend %tab_background;
			@extend %tab_border_color;
			@extend %tab_color_text;
			margin-bottom: -1px;
		}@else{
			@extend %tab_content_bg;
			color: pick_best_color($tab-content-bg, ($tab-border, $tab-button-text, $tab-button-bg));
			@extend %tab_border_color;
			border-bottom-color: transparent;
		}
		z-index: 1;

		&:hover{
			cursor: default;
		}
	}
}
//Tab-box content style
.tab_content {
    @extend %block;
	border-width: 1px;
	border-style: solid;
	@extend %tab_border_color;
	border-radius: 0 $tab-border-radius $tab-border-radius $tab-border-radius;
	@extend %tab_content_bg;
	position: relative;
    z-index: 0;
	@extend %pad;
	@extend %#{$smalls}_pad_h_half;
    @extend %cf;

    > :last-child{
        margin-bottom: 0;
    }
}

//First mobile tab_button will show inherit the tab border-radius.
//Creates a rounded box.
.tabs + .tab_button {
    border-radius: $tab-border-radius $tab-border-radius 0 0;
}
//Hide normal tabs if the box changes to an accordion on mobile.
.tab_accordion > .tabs {
    @extend %#{$smalls}_hide;
}

//------------------------------------
//    $TOP-TABS (default)
//------------------------------------

// Wrapper for tabs, injected with Javascript.

.tabs {
    position: relative;
}

//Inactive Top-tabs stylings.

$best-tab-color: pick_best_color(
		$tab-button-secondary, (
		#fff, blend-multiply(#ccc, $tab-button-bg), blend-overlay(#333, $tab-button-bg)
	));
$best-tab-color: $tab-button-secondary;

.tab {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	@extend %pad_v_half;
	@extend %pad_h_half;
	margin-bottom: 0;
	margin-right: $tab-spacing;
	top: 2px;
	text-align: center;
	text-decoration: none;
	border-bottom-color: transparent;
    border-radius: $tab-border-radius $tab-border-radius 0 0;
    cursor: pointer;
    transition: background-color 100ms ease-out, border-color 200ms ease-in-out;
	border-style: solid;

	@if $tab-border != false{
		border-width: 1px;
	}
	@if $tab-invert-active == true{
		background-color: $tab-button-secondary;
		color: $best-tab-color;
		border-color: darken($tab-button-secondary, 10%);
	}@else{
		@extend %tab_background;
		@extend %tab_color_text;
		@extend %tab_border_color;
	}

	&:hover {
		@if $tab-invert-active == true{
			color: $tab-button-bg;
		}@else{
			@extend %tab_color_text;
			background-color: pick_best_color($tab-button-text, (blend-overlay(#aaa, $tab-button-bg), blend-overlay(#333, $tab-button-bg)));
		}
	}
}

.tab.active {
	background-color: color(links);
}

//------------------------------------
//    $ACCORDION-TABS
//------------------------------------

//Show tab_buttons on mobile.
// .tab_accordion{
//     & > .tab_button{
// 		@extend %#{$smalls}_bl;
//     }
// //Hide tabs on mobile.
//     & > .tabs{
//         @extend %#{$smalls}_hide;
// 	}
// 	& > .tabs + .tab_button{
// 		border-radius: $tab-border-radius $tab-border-radius 0 0;
// 	}
// }
//
//
// .js .tabbed.tab_accordion {
// 	& > .tab_button{
// 		@extend %#{$bigs}_hide;
// 	}
// 	& > .tab_content{
// 		@include media-query(#{$smalls}){
// 			border: 1px solid $tab-border;
// 			background-color: $tab-content-bg;
// 			margin-left: 0;
// 		}
// 	}
// }
//
// //Used for nested tab blocks.
// .tab_content > .tabbed{
//
//     & > .tabs, & > .tab_content, & > .tab_button{
//         margin-left: -1px;
//     }
// }
//
// //------------------------------------
// //    $NO-JS
// //------------------------------------
// .no-js .tab_button {
// 	display: inline-block;
// 	@extend %grid_reset;
// 	@extend %#{$bigs}_one_fifth;
//     @extend %#{$smalls}_one_whole;
// 	@extend %h6;
//     @include type-space(margin-top, 1);
//     text-decoration: none;
//     @include rems(margin-right, $gutter);
//
//     & + .tab_content{
// 		@extend %#{$bigs}_four_fifths;
// 		@extend %grid_reset;
//         display: inline-block;
//         @include type-space(margin-top, 1);
//         padding-left: 0;
//     }
// }
//
//
// //-----------End required tab styling------------------------------------------
// //--------All of the above code is required for proper tab styling.------------
// //-----------------------------------------------------------------------------
//
//
// //------------------------------------
// //    $SIDE-TABS
// //------------------------------------
// @if $tab-side-include == true {
//
// .tab_side{
//     display: table; //Making sure the height doesn't get wacky with tab_side content.
// 	@extend %one_whole;
//     @extend %space_v;
// }
//
// .tab_side{
//     & > .tabs{
//         display: table-cell;
//         vertical-align: top;
//         @extend %lap_one_fifth !optional;
//         @extend %#{$bigs}_one_sixth;
//         @extend %#{$smalls}_one_quarter;
//
//         .tab{
// 			top: 0;
//             @extend %block;
//             margin-bottom: $tab-spacing;
//             width: 100%;
// 			text-align: left;
// 			@include rems(text-indent, -($gutter/4) );
// 			border-radius: $tab-border-radius 0 0 $tab-border-radius;
//
// 			@if $tab-border != false{
// 			   @if $tab-invert-active == true{
// 					border-bottom-color: lighten($tab-button-bg, 15%);
// 			   }@else{
// 				   border-bottom-color: $tab-border;
// 			   }
// 			}
//         }
//         .active{
//             border-right-color: transparent;
//             border-bottom-color: $tab-border;
//         }
//     }
// 	> .tab_content{
//         margin-left: -1px;
//     }
// }
// }
//
// //------------------------------------
// //    $MIMINAL-TABS
// //------------------------------------
// @if $tab-minimal-include == true{
//
// .tab_minimal > .tab_content {
// 	border-left-width: 0;
// 	border-right-width: 0;
// 	border-bottom-width: 0;
// }
//
// @if $tab-side-include == true {
//
// 	//Styling for minimal and side-tab combinations.
//
// 	.tab_minimal.tab_side > .tab_content {
// 		border-left-width: 0px;
// 		border-top-width: 0;
// 	}
// 	.tab_minimal.tab_side > .tabs{
// 		@include type-space-sc(padding, 1, 0);
//
// 		.tab{
// 			border-width: 0px;
// 			&:not(.active){
// 				background-color: transparent;
// 				color: $tab-button-secondary;
// 				&:hover{
// 					color: mix($tab-button-bg, $tab-button-secondary, 40%);
// 					background-color: rgba($tab-content-bg, 0.5);
// 				}
// 			}
//
// 			&.active{
// 				@if $tab-invert-active == true{
// 					color: $best-tab-color;
// 				}@else{
// 					color: $tab-button-bg;
// 				}
// 			}
//
// 		}
// 	}
//
// }

//Tab lines
//Tabs highlighted by a line rather than an entire tab.

// .tab_line {
// 	> .tabs {
// 		.tab{
// 			background-color: transparent;
// 			border-width: 0;
// 			margin-right: 0;
// 			top: 1px;
// 			margin-top: -2px; //Correcting the space created by borders.
// 			border-bottom-width: 2px;
// 			color: $tab-button-secondary;
// 			@include rems(text-indent, -($gutter/4) );
// 			border-radius: 0;
//
// 			&:hover{
// 				color: blend-multiply($tab-border, $tab-button-secondary);
// 				background-color: rgba($tab-content-bg, 0.5);
// 				@extend %tab_border_current;
// 				position: relative;
// 				z-index: 2;
// 			}
// 		}
// 		.active{
// 			opacity: 1 !important;
// 			color: $tab-button-bg !important;
// 			border-bottom-width: 2px;
// 			@extend %tab_border_current;
// 			background-color: transparent !important;
// 			z-index: 1;
// 		}
// 	}
// 	&.tab_minimal {
// 		> .tab_content{
// 			@include type-space((padding-right, padding-left), .5);
// 			background-color: transparent;
// 			border-top-width: 2px;
// 			border-top-color: tint($tab-border, 50%);
// 			margin-top: -1px;
// 		}
// 	}
// }
//
// .tab_topline{
// 	> .tabs{
// 		background-color: rgba($tab-content-bg, 0.6);
// 		border-radius: $tab-border-radius $tab-border-radius 0 0;
// 		.tab{
// 			text-indent: 0px;
// 			@include rems(padding-right, $gutter);
// 		}
// 		.active{
// 			border-top-width: 2px;
// 			@extend %tab_border_current;
// 			border-bottom-color: transparent;
// 			background-color: $tab-content-bg !important;
//
// 			&:hover{
// 				border-bottom-color: transparent;
// 			}
// 		}
// 	}
// 	> .tab_content{
// 		background-color: $tab-content-bg !important;
// 	}
// }
//
// } // End minimal tabs @IF
//
// //------------------------------------
// //    $IE8
// //------------------------------------
// .ie8 .tab_line > .tabs .tab:hover{
// 	background-color: #fff;
// }
// .ie8 .tab_button:hover{
// 	@if $tab-invert-active == true{
// 		color: pick_best_color(
// 			$tab-button-secondary, (
// 			#ddd,
// 			darken($tab-button-text, 10%),
// 			darken($tab-content-bg, 10%),
// 			darken($tab-button-bg, 10%)
// 		));
// 	}@else{
// 		color: pick_best_color(
// 			$tab-button-bg, (
// 			$tab-border,
// 			darken($tab-button-text, 5%),
// 			darken($tab-button-bg, 10%)
// 		));
// 	}
// }


} // End All Tabs output @IF
