/* SG
# Tabs/

A way to show groups of content, with buttons to toggle between them (like tabs in a folder or browser window).

###### Set Up

Tabs start out as simple anchor + element pairings (with the anchor's href referring to an element's ID).

Using `.tab_button` on the anchor, and `.tab_content` on the element, javascript will group the tabs together until an element breaks the pattern. It will then attach the navigation and event handlers.

```html_example
<div id="tabs">
<!--Wrapper is optional-->

    <a href="#tab1" class="tab_button">Tab 1</a>
    <div id="tab1" class="tab_content">
    	Content Here
    </div>

    <a href="#tab2" class="tab_button">Tab 2</a>
    <div id="tab2" class="tab_content">
    	Secondary Content Here
    </div>

</div>

<!--Initialize tabs javascript-->
<script>
$(function() {
    //JQuery selector scopes tabs to wrapper, otherwise it can be scoped to "body"
    $("#tabs").tabbed();
});
</script>
```
*/


//------------------------------------
//    $SETUP
//------------------------------------

//Output tab styles?
$include-tabs: 						true 					!default;

// Make tab buttons look like normal buttons.
// Uses an extension of %button.
$tab-inherit-button-style:          false                    !default;

//Make the active tab a darker color than the tab_content.
// Will match the border if a border exists.
$tab-invert-active:                 true                     !default;

//Show borders? If true, just enter a color. If not, enter false.
$tab-border:                  		$tab-button-bg           !default;

//Active tab-bg color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-bg:                     color(bg, darkest)   !default;

//Tab box content BG color.
//Also applied to non-inverted-active tabs.
$tab-content-bg:                    color(bg, dark)  !default;

//Inactive tab coloring
$tab-button-secondary:              pick_best_color($tab-button-bg,(
										lighten($tab-button-bg, 20%),
										lighten($tab-button-bg, 30%),
										darken($tab-button-bg, 10%)
									)) !default;

//Active tab_button text color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-text:                   #fff                     !default;

//Border radius on tabs.
$tab-border-radius:                 2px                      !default;

//Spacing between tab buttons.
$tab-spacing:                       2px                      !default;



//------------------------------------
//    $EXTENDS
//------------------------------------

//Used for a more consolidated output.

%tab_color_text{
	color: $tab-button-text;
}
%tab_background{
	background-color: $tab-button-bg;
}
%tab_border_color{
	border-color: $tab-border;
}
%tab_content_bg{
	background-color: $tab-content-bg;
}
%tab_border_current{
	border-color: currentColor;
}


//------------------------------------
//    $GENERAL
//------------------------------------
//NOTE: For cleanliness and readibility,
//	the following content in this @if statement is not indented.

@if $include-tabs {

//-----------Required tab styling------------------------------------------
//----All of the following code is required for proper tab styling.--------
//-------------------------------------------------------------------------
//All tab boxes are wrapped in a div classed "tabbed".

.tabbed {
    @include type-space(margin-bottom, 1);
    @include type-space(min-height, 3);
    @extend %clearfix;
}

//Mobile tab_buttons
.tab_button {
	border-style: solid;
	width: 100%;
	cursor: pointer;
	display: none;
	line-height: 3;
	text-decoration: none;
	margin-bottom: 0;
	@include type-space((padding-left, padding-right), .5);
	@extend %tab_background;
	border-width: 1px;
	@extend %tab_color_text;
	border-color: blend-multiply($tab-button-bg, $tab-button-bg);
	position: relative;
	z-index: 1;
	border-bottom-width: 0;

	&.active {
		@include type-space(margin-bottom, -1);
		@extend %tab_border_color;
	}

	//Affects all active tab styles, regardless of type.
	//Some styles are overwritten later.
	&.active {
		@if $tab-invert-active == true{
			@extend %tab_background;
			@extend %tab_border_color;
			@extend %tab_color_text;
			margin-bottom: -1px;
		}@else{
			@extend %tab_content_bg;
			color: pick_best_color($tab-content-bg, ($tab-border, $tab-button-text, $tab-button-bg));
			@extend %tab_border_color;
			border-bottom-color: transparent;
		}
		z-index: 2;

		&:hover{
			cursor: default;
		}
	}
}
//Tab-box content style
.tab_content {
	border-width: 1px;
	border-style: solid;
	@extend %tab_border_color;
	border-radius: 0 $tab-border-radius $tab-border-radius $tab-border-radius;
	@extend %tab_content_bg;
	position: relative;
    z-index: 1;
	@include type-space(padding, 1);
    @extend %clearfix;

    > :last-child{
        margin-bottom: 0;
    }
}

.tab_hidden {
	display: none;
}

//First mobile tab_button will show inherit the tab border-radius.
//Creates a rounded box.
.tabs + .tab_button {
    border-radius: $tab-border-radius $tab-border-radius 0 0;
}
//Hide normal tabs if the box changes to an accordion on mobile.
.tab_accordion > .tabs {
    display: none;
}

// Wrapper for tabs, injected with Javascript.

.tabs {
    position: relative;
}

//Inactive Top-tabs stylings.

$best-tab-color: pick_best_color(
		$tab-button-secondary, (
		#fff, blend-multiply(#ccc, $tab-button-bg), blend-overlay(#333, $tab-button-bg)
	));
$best-tab-color: $tab-button-secondary;

.tab {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	@include type-space(padding, .5);
	margin-bottom: 0;
	margin-right: $tab-spacing;
	top: 2px;
	text-align: center;
	text-decoration: none;
	border-bottom-color: transparent;
    border-radius: $tab-border-radius $tab-border-radius 0 0;
    cursor: pointer;
    transition: background-color 100ms ease-out, border-color 200ms ease-in-out;
	border-style: solid;
	z-index: 0;

	@if $tab-border != false{
		border-width: 1px;
	}
	@if $tab-invert-active == true{
		background-color: $tab-button-secondary;
		color: $best-tab-color;
		border-color: darken($tab-button-secondary, 10%);
	}@else{
		@extend %tab_background;
		@extend %tab_color_text;
		@extend %tab_border_color;
	}

	&:hover {
		@if $tab-invert-active == true{
			color: $tab-button-bg;
		}@else{
			@extend %tab_color_text;
			background-color: pick_best_color($tab-button-text, (blend-overlay(#aaa, $tab-button-bg), blend-overlay(#333, $tab-button-bg)));
		}
	}
}

.tab.active {
	outline: none;
	background-color: $tab-content-bg;
	z-index: 2;
	top: 1px;
	color: color(links);
	border-bottom-width: 0;
}


} // End All Tabs output @IF
