.list_bordered {
    @extend %space_v;
    > li {
        display: block;
        border-top: 1px solid $border-color;
        @include type-space-sc(padding, .5, .5)
    }
    > li:first-child {
        border-top: 1px solid transparent;
    }
}

.list_inline {
    @extend %space_reset;
    > li {
        display: inline-block;
        padding-left: 0;
        width: auto;
        vertical-align: middle;
        @extend %pad_r;
    }
}

.breadcrumbs{
    @include type-space-sc(margin, 0,0,1,0);
}
    .breadcrumb{
        display: inline-block;
        white-space: nowrap;
        @extend %pad_r_half;
    }
        .breadcrumb:after{
            content: "\25B8";
            display: inline-block;
        }

.list_naked{
    @include no-bullets;
    @extend %space_n_l;
}
