table {
    @extend %type-vertical-rhythm;
    width: 100%;
    background-color:transparent;
    border-collapse: collapse;
    border-spacing:0;
    @extend %space_v;

    & th,
    & td {
        @include type-space-sc(padding, 1, 0, .5);
        text-align:left;
        vertical-align:top;
        border: 0;
        border-bottom: 1px;
        border-top-width: 0px;
        border-color: #ddd;
        border-style: solid;
    }
	& td{
		&.stripe{
			background-color: colors(function, lighter);
		}
	}
    & th {
        @extend %type_bold;
    }
    & thead th {
        vertical-align:bottom;
        @include type-space-sc(padding, 1, 0, 0 );
    }
}
thead + tbody td:before{
	content: attr(data-th)": ";
	@extend %type_bold;
	padding-right: .25em;
	display: none;
}

.table_fixed{
        table-layout: fixed;
    }

.table_striped {
    & tbody tr:nth-child(odd),
	.stripe{
        background-color: colors(function, lighter);
    }
    & th, & td{
		@extend %pad_r_half;
        @extend %pad_l_half;
        border-color: color(function, light);
        border-style: solid;
    }
}
//Rudimentary responsive tables.
// Markup dependent on tables.js
@include media-query(#{$smalls}){
    .table_responsive{
		@include type-space(margin-top, 1);
        thead th{
            display: none
        }

        thead + tbody td {
            display: block;
            border-bottom: 0;
            padding-top: 0;

            &:first-child{
                border-top-width: 1px;
                @extend %smalls_pad_t_half;
            }
            &:before{
				display: inline;
            }
        }
    }
 }
