//------------------------------------
//    $Tabs
//------------------------------------

 // CONTENTS
 // SETUP................Variables.
 // GENERAL..............Normal styles for all tab boxes.
 // TOP-TABS.............Styles for typical tab-boxes.
 // SIDE-TABS............Styling for tab_side modified boxes.
 // ACCORDION-TABS.......Tabs that become accordions on mobile.
 // NESTED-TABS..........Styles for tabs inside of tabs.
 // NO-JS................Fallback styling for users without javascript.

//------------------------------------
//    $SETUP
//------------------------------------

// Make tab buttons look like normal buttons.
// Uses an extension of %button.
$tab-inherit-button-style:          false                    !default;

//Make the active tab a darker color than the tab_content.
$tab-invert-active:                 true                     !default;

//Show borders?
$tab-border:                        true                     !default;
                
//Active tab-bg color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-bg:                     $function-color-darker   !default;

//Optional tab-border-color.
$tab-border-color:                  $tab-button-bg           !default;    

//Tab box content BG color.
//Also applied to non-inverted-active tabs.
$tab-content-bg:                    $function-color-lighter  !default;

//Inactive tab coloring
$tab-button-secondary:                 pick_best_color($tab-button-bg, (lighten($tab-button-bg, 20%), lighten($tab-button-bg, 30%), darken($tab-button-bg, 10%))) !default;

//Active tab_button text color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-text:                   #fff                     !default;

//Border radius on tabs.
$tab-border-radius:                 2px                      !default;

//Spacing between tab buttons.
$tab-spacing:                       2px                      !default;

//------------------------------------
//    $GENERAL
//------------------------------------

//All tab boxes are wrapped in a div classed "tabbed".
.tabbed{
    @extend %one-whole;
    @include type-space(margin-bottom, 1);
    @include type-space(min-height, 3);
    @extend %cf;

//Mobile tab_buttons
    & .tab_button {
        @if $tab-inherit-button-style == true{
            @extend %button;
        }@else{
            line-height: 3;
            text-decoration: none;
            @include type-space-sc(padding, 0, .75);
			margin-bottom: 0;
            @if $tab-invert-active == true{
                background-color: $tab-button-secondary;
                color: pick_best_color($tab-button-secondary, (#fff, $tab-button-text, $tab-content-bg, $tab-button-bg));
            }@else{
                background-color: $tab-button-bg;
                color: $tab-button-text;
                position: relative;
                z-index: 1;
				border-bottom-width: 0 !important;
            }
            @if $tab-border == true{
                border: 1px solid darken($tab-button-secondary, 10%);
                margin-top: -1px;
            }

            &:hover{
                font-weight: bold;
                @if $tab-invert-active == true{
                    color: pick_best_color(
						$tab-button-secondary, (#ddd, 
						darken($tab-button-text, 10%), 
						darken($tab-content-bg, 10%), 
						darken($tab-button-bg, 10%)
						) );
                }@else{
                    color: pick_best_color(
						$tab-button-bg, ($tab-border-color, 
						darken($tab-button-text, 5%), 
						darken($tab-button-bg,10%) 
					) );
                }
            }
			&.active{
				@include rems(margin-bottom, -($type-magic-number));
			}

        }
        @extend %one-whole;
        cursor: pointer;
        display: none;
    }

//Active tab styling.
//Inherited from active buttons if needed.

@if $tab-inherit-button-style == false{
//Affects all active tab styles, regardless of type.
	& .active{
		@if $tab-invert-active == true{
			background-color: $tab-button-bg;
			border-color: $tab-border-color;
			color: $tab-button-text;
			margin-bottom: -1px;
		}@else{
			background-color: $tab-content-bg;
			color: pick_best_color($tab-content-bg, ($tab-border-color, $tab-button-text, $tab-button-bg));
			border-color: $tab-border-color;
			border-bottom-color: transparent;
		}
		top: 1px;
		z-index: 1;

		&:hover{
			cursor: default;
			@if $tab-invert-active == true{
				color: $tab-button-text;
			}@else{
				color: pick_best_color($tab-content-bg, ($tab-button-text, $tab-button-bg));
			}
		}
	}
}
}
 //Tab-box content style
.tab_content{
    display: block;
	border: 1px solid $tab-border-color;
	background-color: $tab-content-bg;
	position: relative;
    z-index: 0;
	
	@include type-space-sc(padding, 1);
	@include rems(padding-left, $gutter);
	@include rems(padding-right, $gutter);
    @extend %one-whole; 
    @extend %cf;
   
    > :last-child{
        margin-bottom: 0;
    }
}

.tab_line > .tab_content{
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}
.tab_side.tab_line > .tab_content{
	border-left-width: 1px;
	border-top-width: 0;
}

//First mobile tab_button will show inherit the tab border-radius.
//Creates a rounded box.
.tabs + .tab_button{
    border-radius: $tab-border-radius $tab-border-radius 0 0;
}
//Hide normal tabs if the box changes to an accordion on mobile.
.tab_accordion > .tabs{
    @extend %smalls_hide;
}

//------------------------------------
//    $TOP-TABS
//------------------------------------

// Nav wrapper for tabs.
// Created by Javascript.
.tabs{
    position: relative;
    @extend %one-whole;
    display: table;
}

//Inactive Top-tabs stylings.
.tab{
    @if $tab-inherit-button-style == true{
        @extend %button;
    }@else{
        @include type-space-sc(padding, 0, 1);
        @include type-space(line-height, 2);
        @if $tab-border == true{
            border: 1px solid;
        }
        @if $tab-invert-active == true{
            background-color: $tab-button-secondary;;
            color: pick_best_color($tab-button-secondary, (#fff, lighten($tab-button-bg, 15%), darken($tab-button-bg, 15%) ) );
            border-color: darken($tab-button-secondary, 10%);
        }@else{
            background-color: $tab-button-bg;
            color: $tab-button-text;
            border-color: $tab-border-color;
        }
        text-decoration: none;
        border-bottom-color: transparent;
        &:hover{
            @if $tab-invert-active == true{
                color: $tab-button-bg;
            }@else{
                color: darken($tab-button-text, 5%);
            }
        }
    }
    border-radius: $tab-border-radius $tab-border-radius 0 0;
    top: 2px;
    letter-spacing: normal;
    float: left;
    display: table-cell;
    cursor: pointer;
    margin-right: $tab-spacing;
    position: relative;
    transition: background 100ms ease-out;
}

//------------------------------------
//    $tab-sideS
//------------------------------------

//Making sure the height doesn't get wacky with tab_sidebed content.
.tab_side{
    @extend %one-whole;
    display: table;
    @include type-space(margin-bottom, 1);
}

.tab_side{
    & > .tabs{
        display: table-cell;
        vertical-align: top;
        @extend %lap_one-fifth;
        @extend %desk_one-sixth;
        @extend %smalls_one-quarter;

        & .tab{
            @if $tab-inherit-button-style == true{
                @extend %button;
               }@else{
                border-radius: $tab-border-radius 0 0 $tab-border-radius;

                @if $tab-border == true{
                   @if $tab-invert-active == true{
                        border-bottom-color: lighten($tab-button-bg, 15%);
                   }@else{
                       border-bottom-color: $tab-border-color;
                   }

                }
                padding-left: $gutter/2;
            }
            top: 0;
            display: table;
            margin-bottom: $tab-spacing;
            width: 100%;
        }
        & .active{
            border-right-color: transparent;
            border-bottom-color: $tab-border-color;
        }
        & ~ .tab_content{
            margin-left: -1px;
        }
    }
}


//------------------------------------
//    $tab-accordionS
//------------------------------------

//Show these on mobile.
.tab_accordion{
    @include media-query(smalls){
        display: block;
        margin-left: 0;
        padding-left: 0;
    }
    & > .tab_button{
        @include media-query(smalls){
            display: block;
            margin-left: 0;
        }
    }
    & > .tabs{
        @include media-query(smalls){
            display: none !important;
        }
        & ~ .tab_content{
            @include media-query(smalls){
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.js .tab_accordion {
	& > .tab_button{
		@extend %bigs_hide;
	}
	& > .tab_content{
		@include media-query(smalls){
				border: 1px solid $tab-border-color;
			}
	}
}

//Used for nested tab blocks.
.tab_content > .tabbed{
    @extend %one-whole;
    margin-bottom: 0 !important;

    & > .tabs, & > .tab_content, & > .tab_button{
        margin-left: -1px;
    }
}

//------------------------------------
//    $NO-JS
//------------------------------------
.no-js .tab_button {
	letter-spacing: normal;
    display: inline-block;
    @extend %bigs_one-fifth;
    @extend %smalls_one-whole;
    @extend h6;
    letter-spacing: normal;
    @include type-space(margin-top, 1);
    text-decoration: none;
    padding-right: $gutter;

    & + .tab_content{
		letter-spacing: normal;
        display: inline-block;
        @extend %bigs_four-fifths;
        @extend %smalls_one-whole;
        @include type-space(margin-top, 1);
        padding-left: 0;
    }
}
