$tab-inherit-button-style:          false                    !default;
$tab-invert-active:                 true                     !default;
$tab-border:                        true                     !default;
$tab-button-bg:                     $function-color-darker   !default;
$tab-content-bg:                    $function-color-lighter  !default;
$tab-button-text:                   #fff                     !default;
$tab-border-radius:                 2px                      !default;
$tab-spacing:                       2px                      !default;

.tabbed{
    @extend %grid__item;
    @include type-space(margin-bottom, 1);
    @include type-space(min-height, 3);

    & .tab-button {
        @if $tab-inherit-button-style == true{
            @extend %button;
        }@else{
            line-height: 3;
            text-decoration: none;
            @if $tab-invert-active == true{
                background-color: darken($tab-content-bg, 10%);
                color: $tab-button-bg;
            }@else{
                background-color: $tab-button-bg;
                color: $tab-button-text;
                position: relative;
                z-index: 1;
            }
            @if $tab-border == true{
                border: 1px solid lighten($tab-button-bg, 10%);
                margin-top: -1px;
            }

            &:hover{
                font-weight: bold;
                @if $tab-invert-active == true{
                    color: darken($tab-button-bg, 5%);
                }@else{
                    color: darken($tab-button-text, 5%);
                }
            }

        }
        @extend %grid;
        @extend %grid__item;
        cursor: pointer;
        display: none;
    }

    @if $tab-inherit-button-style == false{
        & .active{
            @if $tab-invert-active == true{
                background-color: $tab-button-bg;
                border-color: $tab-button-bg;
                color: $tab-button-text;
                margin-bottom: -1px;
            }@else{
                background-color: $tab-content-bg;
                color: $tab-button-bg;
                border-color: $tab-button-bg;
                border-bottom-color: transparent;
            }
            top: 1px;
            z-index: 1;
            font-weight: bold;

            &:hover{
                cursor: default;
                @if $tab-invert-active == true{
                    color: $tab-button-text;
                }@else{
                    color: $tab-button-bg;
                }
            }
        }
    }
    & .tab_content{
        padding: $gutter;
        display: block;
        @extend %grid;
        @extend %grid__item;
        background-color: $tab-content-bg;
        @if $tab-border == true{
            border: 1px solid $tab-button-bg;
        }
        position: relative;
        z-index: 0;
    }

}
.tabs + .tab-button{
    border-radius: $tab-border-radius $tab-border-radius 0 0;
}

.accordion-tab > .tabs{
    @extend %smalls--hide;
}
.tabs{
    position: relative;
    @extend %grid;
    display: table;
}

.tab{
    @if $tab-inherit-button-style == true{
        @extend %button;
    }@else{
        @include type-space-sc(padding, 0, 1);
        @include type-space(line-height, 2);
        @if $tab-border == true{
            border: 1px solid;
        }
        @if $tab-invert-active == true{
            background-color: darken($tab-content-bg, 5%);
            color: lighten($tab-button-bg, 10%);
            border-color: lighten($tab-button-bg, 15%);
        }@else{
            background-color: $tab-button-bg;
            color: $tab-button-text;
            border-color: $tab-button-bg;
        }
        text-decoration: none;
        border-bottom-color: transparent;
        &:hover{
            @if $tab-invert-active == true{
                color: $tab-button-bg;
            }@else{
                color: darken($tab-button-text, 5%);
            }
        }
    }
    border-radius: $tab-border-radius $tab-border-radius 0 0;
    top: 2px;
    letter-spacing: normal;
    float: left;
    display: table-cell;
    cursor: pointer;
    margin-right: $tab-spacing;
    position: relative;
    transition: all 100ms ease-out;
}


.tabbed.side-tab{
    @extend %grid--grid__item;
    display: table;
    @include type-space(margin-bottom, 1);
}

.side-tab{
    & > .tabs{
        display: table-cell;
        vertical-align: top;
        @extend %lap--one-fifth;
        @extend %desk--one-sixth;
        @extend %smalls--one-quarter;

        & .tab{
            @if $tab-inherit-button-style == true{
                @extend %button;
               }@else{
                border-radius: $tab-border-radius 0 0 $tab-border-radius;

                @if $tab-border == true{
                    border-bottom-color: lighten($tab-button-bg, 15%);
                }
                padding-left: $gutter/2;
            }
            top: 0;
            display: table;
            margin-bottom: $tab-spacing;
            width: 100%;
        }
        & .active{
            border-right-color: transparent;
        }
        & ~ .tab_content{
            margin-left: -1px;
        }
    }
}
.tabbed.accordion-tab{
    @include media-query(smalls){
        display: block;
        margin-left: 0;
        padding-left: 0;
    }
    & > .tab-button{
        @include media-query(smalls){
            display: block;
            margin-left: 0;
        }
    }
    & > .tabs{
        @include media-query(smalls){
            display: none !important;
        }
        & ~ .tab_content{
            @include media-query(smalls){
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.js .accordion-tab > .tab-button{
    @extend %bigs--hide;
}

//Used for nested tab blocks.
.tab_content > .tabbed{
    @extend %grid--grid__item;
    margin-bottom: 0 !important;

    & > .tabs, & > .tab_content, & > .tab-button{
        margin-left: -1px;
    }
}

//No-javascript fall-back.
.no-js .tab-button {
    @extend %grid--grid__item;
    @extend %bigs--one-fifth;
    @extend %smalls--one-whole;
    @extend .h6;
    letter-spacing: normal;
    @include type-space(margin-top, 1);
    text-decoration: none;
    padding-right: $gutter;

    & + .tab_content{
        @extend %grid__item;
        @extend %bigs--four-fifths;
        @extend %smalls--one-whole;
        @include type-space(margin-top, 1);
        padding-left: 0;
    }
}
