//------------------------------------
//    $Tabs
//------------------------------------

 // CONTENTS
 // SETUP................Variables.
 // GENERAL..............Normal styles for all tab boxes.
 // MINIMAL-TABS.........Tabs without content borders.
 // TOP-TABS.............Styles for typical tab-boxes.
 // SIDE-TABS............Styling for tab_side modified boxes.
 // ACCORDION-TABS.......Tabs that become accordions on mobile.
 // NESTED-TABS..........Styles for tabs inside of tabs.
 // NO-JS................Fallback styling for users without javascript.

//------------------------------------
//    $SETUP
//------------------------------------

//Output tab styles?
$output-tabs: 						true 					!default;

// Make tab buttons look like normal buttons.
// Uses an extension of %button.
$tab-inherit-button-style:          false                    !default;

//Make the active tab a darker color than the tab_content.
$tab-invert-active:                 true                     !default;

//Show borders?
$tab-border:                        true                     !default;

//Active tab-bg color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-bg:                     $function-color-darker   !default;

//Optional tab-border-color.
$tab-border-color:                  $tab-button-bg           !default;

//Tab box content BG color.
//Also applied to non-inverted-active tabs.
$tab-content-bg:                    $function-color-lighter  !default;

//Inactive tab coloring
$tab-button-secondary:              pick_best_color(
												$tab-button-bg,(
												lighten($tab-button-bg, 20%),
												lighten($tab-button-bg, 30%),
												darken($tab-button-bg, 10%)))
												!default;

//Active tab_button text color.
//Note: If invert-active is set to false,
//then this will apply to the inactive tabs.
$tab-button-text:                   #fff                     !default;

//Border radius on tabs.
$tab-border-radius:                 2px                      !default;

//Spacing between tab buttons.
$tab-spacing:                       2px                      !default;



//------------------------------------
//    $GENERAL
//------------------------------------
@if $output-tabs == true {

//All tab boxes are wrapped in a div classed "tabbed".
.tabbed{
    @include type-space(margin-bottom, 1);
    @include type-space(min-height, 3);
    @extend %cf;

//Mobile tab_buttons
    & .tab_button {
		letter-spacing: normal;
		line-height: 3;
		text-decoration: none;
		margin-bottom: 0;
		@include type-space-sc(padding, 0, .75);

		@if $tab-invert-active == true{
			background-color: $tab-button-secondary;
			color: pick_best_color(
					$tab-button-secondary, (
					#fff,
					$tab-button-text,
					$tab-content-bg,
					$tab-button-bg
				) );
		}@else{
			background-color: $tab-button-bg;
			color: $tab-button-text;
			position: relative;
			z-index: 1;
			border-bottom-width: 0 !important;
		}
		@if $tab-border == true{
			border: 1px solid darken($tab-button-secondary, 10%);
			margin-top: -1px;
		}

		&:hover{
			font-weight: bold;
			@if $tab-invert-active == true{
				color: pick_best_color(
						$tab-button-secondary, (
						#ddd,
						darken($tab-button-text, 10%),
						darken($tab-content-bg, 10%),
						darken($tab-button-bg, 10%)
					) );
			}@else{
				color: pick_best_color(
					$tab-button-bg, (
					$tab-border-color,
					darken($tab-button-text, 5%),
					darken($tab-button-bg, 10%)
				) );
			}
		}

		&.active{
			@include rems(margin-bottom, -($type-magic-number));
		}
        width: 100%;
        cursor: pointer;
        display: none;
    }

	//Affects all active tab styles, regardless of type.
		& .active{
			@if $tab-invert-active == true{
				background-color: $tab-button-bg;
				border-color: $tab-border-color;
				color: $tab-button-text !important;
				margin-bottom: -1px;
			}@else{
				background-color: $tab-content-bg;
				color: pick_best_color($tab-content-bg, ($tab-border-color, $tab-button-text, $tab-button-bg)) !important;
				border-color: $tab-border-color;
				border-bottom-color: transparent;
			}
			top: 1px;
			z-index: 1;

			&:hover{
				cursor: default;
				font-weight: normal !important;
			}
		}

}
 //Tab-box content style
.tab_content{
    display: block;
	border: 1px solid $tab-border-color;
	background-color: $tab-content-bg;
	position: relative;
    z-index: 0;
	@extend %pad_v;
	@include rems(padding-left, $gutter);
	@include rems(padding-right, $gutter);
    @extend %cf;

    > :last-child{
        margin-bottom: 0;
    }
}

//First mobile tab_button will show inherit the tab border-radius.
//Creates a rounded box.
.tabs + .tab_button {
    border-radius: $tab-border-radius $tab-border-radius 0 0;
}
//Hide normal tabs if the box changes to an accordion on mobile.
.tab_accordion > .tabs {
    @extend %#{$smalls}_hide;
}

//------------------------------------
//    $TOP-TABS
//------------------------------------

// Nav wrapper for tabs.
// Created by Javascript.
.tabs{
    position: relative;
}

//Inactive Top-tabs stylings.
.tab{
	letter-spacing: normal;
    @if $tab-inherit-button-style == true{
        @extend %button;
    }@else{
		text-align: center;
        @include type-space-sc(padding, .5, 0);
		@include rems(padding-left, ($gutter/2));
		@include rems(padding-right, ($gutter/2));
        @if $tab-border == true{
            border: 1px solid;
        }
        @if $tab-invert-active == true{
            background-color: $tab-button-secondary;;
            color: pick_best_color($tab-button-secondary, (#fff, lighten($tab-button-bg, 15%), darken($tab-button-bg, 15%) ) );
            border-color: darken($tab-button-secondary, 10%);
        }@else{
            background-color: $tab-button-bg;
            color: $tab-button-text;
            border-color: $tab-border-color;
        }
        text-decoration: none;
        border-bottom-color: transparent;
        &:hover{
            @if $tab-invert-active == true{
                color: $tab-button-bg;
            }@else{
                color: darken($tab-button-text, 5%);
            }
        }
    display: inline-block;
	vertical-align: bottom;
	}
    border-radius: $tab-border-radius $tab-border-radius 0 0;
    position: relative;
	top: 2px;
    cursor: pointer;
    margin-right: $tab-spacing;
	margin-bottom: 0;
    transition: background-color 100ms ease-out, border-color 200ms ease-out;

}

//------------------------------------
//    $MIMINAL-TABS
//------------------------------------

.tab_minimal > .tab_content {
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;

}
.tab_minimal.tab_side > .tab_content {
	border-left-width: 1px;
	border-top-width: 0;
}
.tab_minimal.tab_side > .tabs{
	@include type-space-sc(padding, 1, 0);
}

.tab_underline {
	> .tabs {
		.tab{
			background-color: transparent;
			border: 0;
			margin-right: 0;
			top: 1px;
			margin-top: -3px; //Correcting the space created by borders.
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: transparent;
			color: $tab-button-secondary;
			@include rems(text-indent, -($gutter/4) );

			&:hover{
				color: mix($tab-button-bg, $tab-button-secondary, 40%);
				background-color: rgba($tab-content-bg, 0.3);
				border-bottom-color: currentColor;
				position: relative;
				z-index: 2;
			}
		}
		.active{
			opacity: 1 !important;
			color: $tab-button-bg !important;
			border-bottom: 2px solid currentColor;
			background-color: transparent !important;
		}
	}
	&.tab_minimal {
		> .tab_content{
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
			border-top-width: 2px;
			border-top-color: tint($tab-border-color, 50%);
			margin-top: -1px;
		}
	}

}

//------------------------------------
//    $SIDE-TABS
//------------------------------------

//Making sure the height doesn't get wacky with tab_sidebed content.
.tab_side{
    display: table;
    @include type-space(margin-bottom, 1);
}

.tab_side{
    & > .tabs{
        display: table-cell;
        vertical-align: top;
        @extend %lap_one_fifth !optional;
        @extend %#{$bigs}_one_sixth;
        @extend %#{$smalls}_one_quarter;

        .tab{
			top: 0;
            display: table;
            margin-bottom: $tab-spacing;
            width: 100%;
			text-align: left;
			@include rems(text-indent, -($gutter/4) );


            @if $tab-inherit-button-style == true{
                @extend %button;
            }
			@else{
                border-radius: $tab-border-radius 0 0 $tab-border-radius;
				padding-left: $gutter/2;

                @if $tab-border == true{
                   @if $tab-invert-active == true{
                        border-bottom-color: lighten($tab-button-bg, 15%);
                   }@else{
                       border-bottom-color: $tab-border-color;
                   }
                }

            }

        }
        .active{
            border-right-color: transparent;
            border-bottom-color: $tab-border-color;
        }
        ~ .tab_content{
            margin-left: -1px;
        }
    }
}


//------------------------------------
//    $ACCORDION-TABS
//------------------------------------

//Show these on mobile.
.tab_accordion{
    @include media-query(#{$smalls}){
        display: block;
        margin-left: 0;
        padding-left: 0;
    }
    & > .tab_button{
        @include media-query(#{$smalls}){
            display: block;
            margin-left: 0;
        }
    }
    & > .tabs{
        @include media-query(#{$smalls}){
            display: none !important;
        }
        & ~ .tab_content{
            @include media-query(#{$smalls}){
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.js .tab_accordion {
	& > .tab_button{
		@extend %#{$bigs}_hide;
	}
	& > .tab_content{
		@include media-query(#{$smalls}){
			border: 1px solid $tab-border-color;
			background-color: $tab-content-bg;
			@include rems(padding-left, ($gutter/2));
			@include rems(padding-right, ($gutter/2));
		}
	}
}

//Used for nested tab blocks.
.tab_content > .tabbed{
    margin-bottom: 0 !important;

    & > .tabs, & > .tab_content, & > .tab_button{
        margin-left: -1px;
    }
}

//------------------------------------
//    $NO-JS
//------------------------------------
.no-js .tab_button {
	@extend %#{$bigs}_one_fifth;
    @extend %#{$smalls}_one_whole;
	letter-spacing: normal;
    display: inline-block;
    @extend %h6;
    letter-spacing: normal;
    @include type-space(margin-top, 1);
    text-decoration: none;
    padding-right: $gutter;

    & + .tab_content{
		@extend %#{$bigs}_four_fifths;
		letter-spacing: normal;
        display: inline-block;
        @include type-space(margin-top, 1);
        padding-left: 0;
    }
}

} // End if