//Prepend all placeholders with generic
$generic_namespace: 'generic_';

//Spacing placeholders
@include spacing-utilities-init(
	$namespace: $generic_namespace, $config: (important: false, silent: true)
);

@include alignment-utilities-init($namespace: $generic_namespace);

@include display-utilities-init($namespace: $generic_namespace);

@include type-utilities-init($namespace: $generic_namespace);


%#{$generic_namespace} {

	&type-vertical-rhythm {
		@extend %#{$generic_namespace}space_reset;
		@extend %#{$generic_namespace}space_b;
	}

	&primary_font_family {
		font-family: $primary-font-stack;
	}

	&secondary_font_family {
		font-family: $secondary-font-stack;
	}
}
