/* Grouping content
   ========================================================================== */

// /**
//  * Address margin differences in IE8/9.
//  */

figure {
	@extend %space_reset;
}

// /**
//  * Address differences between Firefox and other browsers.
//  */

hr {
    @extend %generic_block;
	@extend %border_reset;
	@extend %space_reset;
    height: 2px;
    border-top: 2px solid color(bg, dark);
	@include type-space(margin, 1, 0 );
}

// /**
//  * Contain overflow in all browsers.
//  */

pre {
	overflow: auto;
}

// /**
//  * Address odd `em`-unit font size rendering in all browsers.
//  */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
