
//Useful for sticky footers and floats
html,
body {
    min-height: 100%;
}

body {
	@include type-font-size($base-font-size, true, p);
}

abbr[title],
dfn[title] {
    cursor: help;
}

u,
ins {
	text-decoration: none;
}

ins {
    border-bottom: 1px solid;
}

mark {
	background-color: mix(color('links'), color('bg'), 20%);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
hr {
	display: block;
}

a {
	cursor: pointer;
	background-color: transparent;
	color: color('links');

	&:hover,
	&:focus {
		color: color('links', light);
	}

	&:active{
		color: color('links', darker);
	}

	&:focus {
		outline: thin dotted; //normalize browser outlines
	}

	// Improve readability when focused and also mouse hovered in all browsers.

	&:active,
	&:hover {
		outline: 0;
	}
}

hr {
    height: 2px;
    border-top: 2px solid color('bg', dark);
	@include type-space(margin, 1 0 );
}
