//Prepend all placeholders with generic

$generic_namespace: 'generic_';

@include alignment-utilities-init($namespace: $generic_namespace);

@include display-utilities-init($namespace: $generic_namespace);

@include type-utilities-init($namespace: $generic_namespace);


%#{$generic_namespace} {

	&type-vertical-rhythm {
		@include type-space(margin-bottom, 1);
	}

	&primary_font_family {
		font-family: $primary-font-stack;
	}

	&secondary_font_family {
		font-family: $secondary-font-stack;
	}
}
