.align_left{
    float: left;
    @include type-space(margin-right, 1);
}
.align_right{
    float: right;
    @include type-space(margin-left, 1);
}
.align_center{
    float: none;
    margin: 0 auto;
}
