@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Regular-webfont.eot');
    src: url('fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-Regular-webfont.woff') format('woff'),
         url('fonts/Asap-Regular-webfont.ttf') format('truetype'),
         url('fonts/Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Italic-webfont.eot');
    src: url('fonts/Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-Italic-webfont.woff') format('woff'),
         url('fonts/Asap-Italic-webfont.ttf') format('truetype'),
         url('fonts/Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Bold-webfont.eot');
    src: url('fonts/Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-Bold-webfont.woff') format('woff'),
         url('fonts/Asap-Bold-webfont.ttf') format('truetype'),
         url('fonts/Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-BoldItalic-webfont.eot');
    src: url('fonts/Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Asap-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;

}
