$type-base-font-size:      14px;
$type-base-line-height:    22px;
$type-ratio:               1.214;
$type-auto-scale:          true;
$type-show-baseline:       true;

@import 'functions','typography','normalize';

