.styleguide-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

#styleguide {
    padding-top: 3rem;
    padding-top: 3vh;
    flex-basis: 75%;
}

.wrap {
    padding-top: 0;
}

#styleguide .section {
    padding-bottom: 2em;
    border-radius: 3px;
    overflow: hidden;
    max-width: 1200px;
}

#styleguide .section + .section {
  margin-top: -2em;
}

.style_sections .section_comment p:last-child {
    margin-bottom: 0;
}

#styleguide .section_starter {
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding-top: .5em;
}

#styleguide .markup {
    padding: 0;
}

#styleguide .markup code,
#styleguide .markup pre {
    border: none;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px;
    line-height: 20px;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    margin: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

#styleguide .markup.markup pre,
#styleguide .markup {
    background-color: #4d6b80;
}
#styleguide .markup.markup pre,
#styleguide .markup.markup code {
    overflow: auto;
    padding: 0;
}
#styleguide .markup.markup pre {
    max-height: 30em;
}

#styleguide .markup.markup code {
    display: block;
    word-wrap: normal;
    white-space: pre;
    padding: 1em;
}
#styleguide .result,
#styleguide .section_comment,
#styleguide .section_header {
    padding: 1em 0;
}

#styleguide .section_header {
    padding-bottom: 0;
    border-top: 2px solid #E9EEF3;
}

.header_subheading {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #7AA9C6;
    font-size: .85em;
}

.header_heading {
    margin-bottom: 0;
    color: #668AA0;
}

#styleguide .section_comment {
    border-bottom: 1px solid #E9EEF3;
}

#styleguide .result {
    border-bottom: 0px;
}

#styleguide .result {
    border-top: none;
    clear: both;
    overflow: hidden;
}

.section_comment code {
    color: #3fb7c0;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

#styleguide .markup {
    clear: both;
    border-top: none;
    margin-bottom: 2em;
}
/*Two Headers in a comment*/
.comment .main-section-sg-markdown + .main-section-sg-markdown {
  margin-top: -1.5rem;
  font-weight: normal;
}

.comment [id*="_code"] code {
    white-space: pre-wrap;
}

[id*="_code_"] + .main-section-sg-by-emiloberg {
  margin-top: -1.5rem;
  margin-bottom: 1.75rem;
  color: #9DC3C8;
  font-weight: normal;
}
#styleguide [id*="_code_"] + .main-section-sg-by-emiloberg code{
    color: #6ca8b5;
}

#styleguide h5 code,
#styleguide .section_comment code {
    color: #4496B5;
}

/*=============================================*/
/* menu */
/*=============================================*/

#styleguide-menu {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    background-color: #E9EEF3;
    overflow: auto;
    max-height: 100%;
    padding: 2em 0 0;
    padding: 2vh 0 0;
}

#styleguide-menu-wrap {
    overflow: auto;
    max-height: 100%;
}

#styleguide-menu .submenu {
    background: rgba(142,204,210,.04);
}

/* Border Colors */
.top_menu,
.menu_body {
    border-bottom: 2px solid;
    overflow: hidden;
}
#styleguide-menu li {
    border-bottom: 1px solid;
}
#styleguide-menu .submenu {
    border-top: 1px solid rgb(210,227,228);
}

.top_menu,
.menu_body,
#styleguide-menu li {
    border-color: rgba(180,191,193,.25);
}

/* Link colors */
#styleguide-menu .menu_body a,
#styleguide-menu .menu_body a:visited,
#styleguide-menu .menu_body a:active {
    display: block;
    color: rgb(112,139,148);
}

#styleguide-menu .submenu a:link,
#styleguide-menu .submenu a:visited {
    color: rgb(122,169,184);
}

#styleguide-menu a:hover,
#styleguide-menu a.on {
    background-color: rgba(198,226,231,.3);
}

#styleguide-menu .top_menu a {
    color: rgb(85,130,145);
}

#styleguide-menu .top_menu a.on,
#styleguide-menu .top_menu a:hover {
    color: rgb(125,204,219) !important;
}

.submenu_toggle {
    color: rgb(142, 204, 210);
}
.submenu_toggle:hover {
    color: rgb(132,184,189);
}

.submenu_toggle {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: .75em;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 200ms ease-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
  width: 2.25rem;
  text-align: center;
}

.submenu_toggle.toggle_active {
    transform: rotate(180deg);
}

/* Menu items padding and positioning */
#styleguide-menu a {
    font-size: .9em;
    display: block;
    padding: .75em 1.5em .5em 6%;
    text-decoration: none;
}


#styleguide-menu .top_menu a {
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
}

#styleguide-menu .submenu a {
    padding: 0.4em 1em 0.4em 8%;
}

#styleguide-menu .button {
    width: 80%;
    margin: 0 auto;
}

#styleguide-menu .top_menu {
    overflow: hidden;
    font-weight: bold;
}

#styleguide-menu .top_menu a.on,
#styleguide-menu .top_menu a:hover {
    background-color: transparent !important;
}

#styleguide-menu .submenu {
    display: none;
    margin-bottom: 0;
}

#styleguide-menu .submenu.on{
    display: block;
}

#styleguide-menu .top_menu {
    margin: 1em 0 0;
}
#styleguide-menu ul {
    list-style-type: none;
    padding: 0;
}

#styleguide-menu li {
    padding: 0;
    margin: 0;
    position: relative;
}


#styleguide-menu li:last-child {
    border-bottom: 0;
}

.top_menu + .menu_body {
    margin-top: -2px;
}
