<button class="btn{{#if type}} btn--{{#each type}}{{{this}}}{{/each}}{{/if}}">
    <span class="btn__body">
        {{怙澌}
    </span>
    {{#if icon}}
        <span class="btn__icon">
            {{殂镱}
        </span>
    {{/if}}
</button>
