<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Article">
{{> ../../components/head}}
</html>
<body>
    {{{bodyHtmlSnippet}}}
    <div id="app" class="application">
        {{#if appHtmlSnippet}}
            {{{appHtmlSnippet}}}
        {{/if}}
    </div>
    {{{footer}}}
    <script>{{{ exportedState }}}</script>
</body>
</html>
