//------------------------------------*\
//    $DISPLAY UTILITIES
//------------------------------------*/

/* SG
# Tools/Display Utilities [[dev]]

@file globals/tools/_t-display.scss

##### `@display-utilities()`
###### mixin(`$namespace:"", $silent:false, $important:true, $class-list:$display-classes`)
Generates classes with display properties defined in `$class-list`. Intelligently extends duplicated display properties.


##### `@display-utilities-init()`
###### mixin(`$breakpoints: $all-breakpoints, $namespace: '', $silent: true, $important: false`)
The responsive component to `@display-utilities()`. Invoke `@display-utilites()` with that loops through a set of media-queries defined in `$$breakpoints`. This is most useful for creating responsive display classes.

*/

//Create silent versions of the above classes
$default-display-classes: (
	'show': 'block',
	'bl': 'block',
	'il_bl': 'inline-block',
	'tbl': 'table',
	'tbl_cl': 'table-cell',
	'hide': 'none',
	'block': 'block',
	'inline_block': 'inline-block',
	'table_cell': 'table-cell',
	'table': 'table'
);

//Merge user-defined classes with defaults (so we have a wide-array of silent classes)
$silent-display-classes: map-extend($display-classes, $default-display-classes, true);

@mixin display-utilities(
	$namespace:"",
	$silent: false,
	$important: true,
	$class-list: $display-classes) {

	$classtype: if($silent, unquote('%'), unquote("."));
	$important_str: if($important, ' !important', '');
	$display-lookup: null;
	$display-registry: ();
	$class-name-list: ();

	@each $name, $display in $class-list {

		$display-class: #{$classtype}#{$namespace}#{$name};
		//Check for existence of a previous class using the same display
		$display-lookup: index($display-registry, $display);
		//If it exists, look it up in the map and extend that value.
		@if $display-lookup != null {
			$extender: nth(nth($class-list, $display-lookup), 1);

			#{$display-class} {
				@extend #{$classtype}#{$namespace}#{$extender};
			}

		}@else {
			#{$display-class} {
				display: #{$display}#{$important_str};
			}

		}

		//Keep track of display values so we can extend if necessary
		@if index($display-registry, "#{$display}") != null {
			@if $silent and $debug-silent-classes {
				$class-name-list:map-merge($class-name-list,($display-class:$display));
			}

			//Make sure duplicate values get a uniqueID so it's not extended
			$display: $display + '' + length($display-registry);
		}
		$display-registry: append($display-registry, "#{$display}", comma);
	}

	//Register silent class names for debugging
	@if $silent and $debug-silent-classes {
		$silent-class-registry: silents-register($class-name-list, 'display') !global;
	}
}

@mixin display-utilities-init(
	$breakpoints: $all-breakpoints,
	$namespace: '',
	$silent: true,
	$important: false
){
	$classes: if($silent, $silent-display-classes, $display-classes);

	@include display-utilities($namespace, $silent, $important, $classes);

	@each $name in $breakpoints {
		@include media-query($name) {

			$name: $namespace + $name;

			@include display-utilities(
				'#{$name}_', $silent, $important, $classes
			);
		}
	}

}
