$grid-columns: 12 !default;

/* SG
# Grid System/Variables [[dev]]

##### `$$human-readable-numerators`
###### List (string)
First words used to represent numbers in a fraction; Corresponds to grid interval names (one, two, three, etc.).


##### `$$human-readable-denominators`
###### List (string)
Second words used to represent numbers in a fraction; Corresponds to grid interval names (whole, half, third, etc.).
*/

//Grid
$human-readable-numerators: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen, nineteen, twenty;

$human-readable-denominators: whole, half, third, quarter, fifth, sixth, seventh, eighth, ninth, tenth, eleventh, twelfth, thirteenth, fourteenth, fifteenth, sixteenth, seventeenth, eighteenth, nineteenth, twentieth, twentyfirst, twentysecond, twentythird, twentyfourth, twentyfifth, twentysixth, twentyseventh,twentyeigth, twentyninth;


/* SG
# Grid System/Functions [[dev]]

##### `grid-size()`
###### function(`$size, $total:` `$$grid-columns`)
Creates a percentage based on the `$size / $total`.
@requires `$$grid-columns`

*/

@function grid-size($size, $total: $grid-columns) {
    @return percentage($size / $total);
}


/* SG
# Grid System/Mixins [[dev]]

##### `@grid-width()`
###### mixin(`$columns, $total:` `$$grid-columns`)
Creates a width property with a percentage based on the `$columns / $total`.
@requires `grid-size()`, `$$grid-columns`
@alias `@width()`

*/

@mixin grid-width($columns, $total:$grid-columns) {
    width: #{percentage($columns/$total)};
    @if $grid-flex {
        flex-basis: #{percentage($columns/$grid-columns)};
        max-width: #{percentage($columns/$grid-columns)};
    }
}

@mixin width($columns, $total:$grid-columns) {
    @include grid-width($columns, $total);
}


/* SG


##### `@width-setup()`
###### mixin(`$namespace:"", $silent:` `$$grid-silent-classes`, $property:"width")
 Uses `$$human-readable-numerators` and `$$human-readable-denominators` to create percentages based on `$$grid-columns`. `$property` accepts any property, as well as lists of properties.

@requires `grid-size()`, `$$human-readable-numerators`, `$$human-readable-denominators`

*/


@mixin width-setup(
    $namespace:"",
    $silent: $grid-silent-classes,
    $property: "width",
    $important: false,
    $columns: $grid-columns
) {

    // [1] Loop through the $grid-columns.
    // [2] Loop through $divisor (same number as $grid-columns). This acts as the second number in our column fraction.
    // [3a]Loop through $divisor before it decreases by 1 from the previous loop.
    // [3b]After widths are defined, subtract 1 from $divisor.
    // [4] Assign the numerator and denominator of our fraction to human-readable versions (e.g. three, four, third, quarter, etc.).
    // [5] Check if the numerator equals 1 (one). If so, we keep our singular human-readable numerators and denominators (e.g. one_twelfth).
    // [6] If the numerator is larger than 1(one), add an 's' to our selector (e.g. two_eighths).
    //
    // Same system used for pushes and pulls.
    $class-type: if($silent, "%", ".");
    $divisor: $columns;
	$class-name-list: ();
    $prefix: "#{$class-type}#{$namespace}";
    $important: if($important, "!important", "");

    //To prevent stuff like 12/12 (five-fifths, etc.), we need to declare 1/1 here
    #{$prefix}one_whole {
        @each $type in $property {
            #{$type}: 100% #{$important};
        }
    }

    @for $i from 1 through $columns {                                         // [1]

        @while $divisor > 0 {                                                // [2]

            @for $dividen from 1 to $divisor {                              // [3a]
				//Create numerator (first number, e.g. 'two').
                $numerator: nth($human-readable-numerators, $dividen);      // [4]

				//Create denominator (second number, e.g. 'thirds').
                $denominator: nth($human-readable-denominators, $divisor);

				//Divide first number(numerator) by second number(denominator).
                $size: grid-size($dividen, $divisor);

                //Create class name
                $class-name: "#{$prefix}#{$numerator}_#{$denominator}";

                //Pluralize anything other than ratios with a numerator of 1
                @if $numerator != "one" {                                    // [5]
					$class-name: "#{$class-name}s";                          // [6]
                }

				#{$class-name} {
                    @each $type in $property {
                        @if index("top" "right" "bottom" "left", $type) != null {
                            position: relative;
                        }
                        #{$type}: $size #{$important};
                    }
                }

				@if $grid-silent-classes and $debug-silent-classes {
					$class-name-list: map-merge($class-name-list, ($class-name:$size));
				}

            }

            $divisor: $divisor - 1; //[3b]
        }
    }

    //Allow for fourths as an alias to quarters
    #{$prefix}one_fourth {
		@extend #{$prefix}one_quarter;
    }

    #{$prefix}two_fourths {
		@extend #{$prefix}two_quarters;
    }

    #{$prefix}three_fourths {
		@extend #{$prefix}three_quarters;
    }


	@if $silent and $debug-silent-classes {
		$class-name-list: map-merge($class-name-list,(
			#{$prefix}one_whole: 100%
		));
		$silent-class-registry: silents-register($class-name-list, $type) !global;
	}
}
