@if $breakpoint-has-alignment-classes {
    @include create-overrides(
        (
            'float-left': (
                float: left,
            ),
            'float-right': (
                float: right,
            ),
            'float-none': (
                float: none,
            ),
            'fixed': (
                position: fixed,
            ),
            'absolute': (
                position: absolute,
            ),
        ),
        $breakpoint-has-alignment-classes
    );
}

.absolute-fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
