{
    "presets": [
        ["env", {
            "node": "current",
            "loose": true
        }]
    ],
    "auxiliaryCommentBefore": "Babel",
    "plugins": [
        ["transform-runtime", {
            "helpers": true,
            "polyfill": false,
            "regenerator": false,
            "loose": true
        }],
        ["syntax-dynamic-import"]
    ]

}
