*.scssc
*.rb
.eslintcache
.DS_Store
Thumbs.db

node_modules/

.idea
.vscode
*.iml
*.sublime-project
*.sublime-workspace

logs
npm-debug.log*
*.log
.imdone

# This can (and probably should) be deleted in a real project
dist/
