<Demo demoTitle="Feed Example" variants="{{true}}">
    <div slot="header"></div>
    <div slot="variants">
        <List :MAX_PER_PAGE :page :feedResults :feed />
    </div>
</Demo>

<script>
    import Demo from '../demo/demo.wrapper.html';
    import List from './feed.html';

    import store from '@/components/demo/demo.store.js';

    export default {
        store: () => store,
        components: { Demo, List },

        data() {
            return {
                feedUrl: "https://uconnect.wisc.edu/feeds/30m/json/homepage/index.json",
                MAX_PER_PAGE: 10,
                page: 1,
                feedResults: false
            };
        },

        oncreate() {
            console.log(this);
            this.observe('feed', (feed) => {
                feed.then((feedResults) => {
                    this.set({"feedResults": feedResults.results});
                    console.log(this.get('feedResults').result.length);
                });
            });
        },

        computed: {
            feed: (feedUrl) => !window.fetch ? '{}' : fetch(feedUrl).then(r => r.json()),
        },

        methods: {}

    };
</script>
