<span id="feedTop" style="display:block; height:0; visibility:hidden;"></span>
<header>
{#if feedResults && page !== 1}
    <button class="btn" on:click="set({'page': page - 1})">« Page {page - 1}</button>
{/if}
    {#if page} Page {page} {/if}
{#if feedResults && ((page * (MAX_PER_PAGE + 1)) <= feedResults.result.length)}
    <button class="btn" on:click="set({'page': page + 1})">Page {page + 1} »</button>
{/if}
    <hr>
</header>

{#if $feedResults}
    <!-- Cached feed -->
    <Results ref:feedList results="{feedResults}" {page} {MAX_PER_PAGE}/>
{:else}

    {#await feed}
        <p>Loading Feed...</p>
    {:then response}
        <Results ref:feedList results="{response.results}" {page} {MAX_PER_PAGE}/>
    {:catch error}
        <p>Feed load error: {@html error}</p>
    {/await}

{/if}

{#if feedResults && page !== 1}
    <button class="btn" on:click="set({'page': page - 1})">« Page {page - 1}</button>
{/if}
    {#if page} Page {page} {/if}
{#if feedResults && ((page * (MAX_PER_PAGE + 1)) <= feedResults.result.length)}
    <button class="btn" on:click="set({'page': page + 1})">Page {page + 1} »</button>
{/if}

<style>
    header {
        margin-bottom: 1.6rem;
    }
</style>

<script>
    import store from '@/components/demo/demo.store.js';

    export default {
        components: { Results: './feed.results.html' },
        onupdate({ changed, current, previous }) {
            if (changed.page) {
                if (typeof window !== 'undefined') {
                    window.scroll(0, this.get()["feedTop"]);
                }
            }
        },
        oncreate() {
            this.set({ 'feedTop': document.getElementById('feedTop').offsetTop });
        },
        store: () => store
    };
</script>
