
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{~!--Favicons--}}
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/img/favicons/favicon-192x192.png">
    <link rel="mask-icon" href="/public/img/favicons/icon.svg" color="#d40943">
    <link rel="shortcut icon" href="/public/img/favicons/favicon.ico">

    {{> ./_header.seo.hbs}}
    {{> ./_header.app.hbs}}
    {{> ./_header.social.hbs}}

    {{~!-- Feeds --}}
    <!--<link rel="alternate" href="https://feeds2.feedburner.com/uwsmph/news" type="application/rss+xml" title="RSS 2.0">-->
    <!--<link rel="alternate" href="http://example.com/feed.atom" type="application/atom+xml" title="Atom 0.3">-->

    <title>
        {{~{pageTitle}~}}
    </title>

    <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style" media="screen" href="/public/css/main.css">
    <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style" media="print" href="/public/css/print.css">
    {{#if scripts}}
        {{#each scripts}}
        <!-- <script src="{{this}}"></script> -->
        <!--{{this}}-->
        {{/each}}
    {{/if}}
        <script src="/public/js/runtime.bundle.js"></script>
        <script async src="/public/js/main.js"></script>


    <noscript>
        <link rel="stylesheet" media="screen" href="/public/css/main.css">
        <link rel="stylesheet" media="print" href="/public/css/print.css">
    </noscript>

    {{> ./_header.async.hbs}}
</head>
