$generic_namespace: 'generic_';

@include spacing-utilities($generic_namespace, (important: false));

@if $responsive == true {
	@each $name in $breakpoint-has-widths {
		@include media-query($name) {
			$name: $generic_namespace+$name;
			@include spacing-utilities('#{$name}_', (important: false));
		}
	}
}

@include alignment-utilities-init($namespace: $generic_namespace);

@include display-utilities-init($namespace: $generic_namespace);

@include type-utilities-init($namespace: $generic_namespace);

%space_reset {
	margin: 0;
	padding: 0;
}

%#{$generic_namespace} {
	&space_reset {
		margin: 0;
		padding: 0;
	}

	&type-vertical-rhythm {
		@extend %#{$generic_namespace}space_reset;
		@extend %#{$generic_namespace}space_b;
	}

	&type_space_v{
		@extend %#{$generic_namespace}space_b;
	}

	&primary_font_family {
		font-family: $primary-font-stack;
	}

	&secondary_font_family {
		font-family: $secondary-font-stack;
	}
}
