
// Set the global `box-sizing` state to `border-box`.
//
// css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// paulirish.com/2012/box-sizing-border-box-ftw

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
    &,
    &:before,
    &:after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
        }
}

html, body {
    min-height: 100%;
}

abbr[title],
dfn[title] {
    cursor: help;
}

u,
ins {
	text-decoration: none;
}

ins {
    border-bottom: 1px solid;
}
