<!DOCTYPE html>
<html lang="en">
{{> ../header/_header.hbs}}
<body>
    {{#if pageContent}}
        {{{pageContent}}}
    {{else if htmlWebpackPlugin.options.evaledTemplate}}
        {{{htmlWebpackPlugin.options.evaledTemplate}}}
    {{/if}}
{{> ../footer/_footer.hbs}}
</body>
</html>
