{{> ../header/_header.hbs}}
<div class="demo">
    <link rel="stylesheet" href="/public/css/demo/demo.css">
    <header class="demo-header">
        <div class="wrap">
            <h1 class="demo-header__title">
                {{demoTitle}}
            </h1>
            <div class="demo-header__component">
                {{#each examples}}
                    {{{this}}}
                {{/each}}
            </div>
        </div>
    </header>

    <main class="demo-body">
        <div class="wrap">
            <h2 class="demo-body__head">
                {{demoTitle}} Variants
            </h2>
            {{> _demo.hbs}}
        </div>
    </main>
</div>

{{> ../footer/_footer.hbs}}
