<:Head>
    <title>→ {{$pageTitle || demoTitle}} demo</title>
</:Head>

<!-- Svelte-routing: https://github.com/EmilTholin/svelte-routing -->
<nav ref:navigation class="demo-navigation">
    <img src="/public/img/favicons/icon.svg" style="height: {{60/16}}rem;" alt="">
    {{#each links as [name, url] @url}}
        <NavLink ref:url to="{{url}}" className="demo-navigation__link">{{name}}</NavLink>
    {{/each}}
</nav>
<!---->
<link rel="stylesheet" media="screen" href="/public/css/demo/demo.css" />

<div>
<Route hydrate="{{true}}" ref:router bind:pathname bind:path>
    <:Component {innerComponent}/>
</Route>
</div>

<script>
    import Route from 'babel-loader!svelte-routing/Route.html';
    import NavLink from 'babel-loader!svelte-routing/NavLink.html';
    import store from './demo.store.js';
    import capitalize from '@/components/tools/title-case';
    import findExport from '@/components/tools/find-export.js';
    import { createMemoryHistory, createBrowserHistory } from 'svelte-routing';

    const appState = typeof window !== 'undefined' ? window.__APP_STATE__ : global.__APP_STATE__;

    function splitRequire(pathname) {
        const component = import(
            /* "webpackChunkName": "components/routes/[request]" */
            '@/components/' + pathname + '/' + pathname + '.demo.html');

        const modID = () => require.resolveWeak('@/components/' + pathname + '/' + pathname + '.demo.html');

        // if (typeof window === 'undefined') {
        //     delete require.cache[modID()];
        // }

        return {
            Sync: () => __webpack_require__(modID()),
            Async: () => component
        };
    }

    function findGlobalRoutes() {
        if (typeof window === 'undefined') {
            createMemoryHistory();
            const pathname = appState.componentPath;
            const innerComponent = splitRequire(pathname);
            debugger;
            appState.innerComponent = innerComponent.Sync();

            return appState;
        }
        else {
            createBrowserHistory();
            appState.innerComponent = splitRequire(appState.componentPath).Sync();
        }
    }

    store.set({'pageTitle': appState.componentPath});

    export default {
        components: {Route, NavLink},
        data() {
            const globalRoutes = findGlobalRoutes();
            return Object
                .assign({}, {
                    pageTitle: null,
                    routeUrl: null,
                    demoTitle: 'Demo',
                    currentRoute: '',
                    path: '/components/:demo',
                    links: [
                        ['Button', '/components/button/'],
                        ['Generic', '/components/generic/'],
                        ['Feed', '/components/feed/']
                    ]
                }, globalRoutes);
        },
        oncreate() {
            this.refs.router.on('update', ({ changed, current, previous }) => {
                if (changed.match) {
                    const match = current.match;
                    const component = splitRequire(match.params.demo);
                    console.info(match);

                    component.Async().then((comp) => {
                        this.set({'innerComponent': findExport(comp)});
                        store.set({'initialRoute': false});
                        store.set({'pageTitle': capitalize(match.params.demo)});
                    });
                }
            });
        },
        setup(DemoRouter) {},
        store: () => store
    };


</script>
