<div class="demo">
    <header class="demo-header">
        <div class="wrap">
            <h1 class="demo-header__title">
                {{demoTitle}}
            </h1>
            <div class="demo-header__component">
                <slot name="header">
                    <p> No Examples </p>
                </slot>
            </div>
        </div>
    </header>

    <Base mainClass="demo-body">
        <div class="wrap">
            {{#if variants || variantTitle}}
            <h2 class="demo-body__head">
                {{variantTitle || demoTitle}} Variants
            </h2>
            <slot name="variants"></slot>
            {{/if}}
        </div>
    </Base>
</div>

<script>
    import Base from '../base/base.sv.html';
    import store from './demo.store.js';

    export default {
        store: () => store,
        components: {
            Base
        },
        data() {
            return {
                demoTitle: 'Demo',
                variantTitle: false,
                variants: false
            };
        },
        oncreate () {
            if (this.slots.variants) {
                this.set({'variants': true});
            }
        },
        ondestroy () {}
    };
</script>
