<div class="demo">
    <link rel="stylesheet" href="/public/css/demo/demo.css">

    <header class="demo-header">
        <div class="wrap">
            <h1 class="demo-header__title">
                {{demoTitle}}
            </h1>
            <div class="demo-header__component">
                <slot name="header">
                    <p> No Examples </p>
                </slot>
            </div>
        </div>
    </header>

    <Base mainClass="demo-body">
        <div class="wrap">
            <h2 class="demo-body__head">
                {{variantTitle || demoTitle}} Variants
            </h2>
            <slot name="variants"></slot>
        </div>
    </Base>
</div>

<script>
    import Base from '../base/base.sv.html';

    export default {
        components: {
            Base
        },
        data() {
            return {
                demoTitle: 'Demo',
                variantTitle: false
            };
        },
        oncreate () {
            console.log(this);
            if (this.slots.variants) {
                this.set({'variants': true});
            }
        },
        ondestroy () {}
    };
</script>
