.hero {
	display: table;
	width: 100%;
	height: 96vh;
	@include type-space(max-height, 67);
	background-size: cover;
	color: #fff;
	position: relative;
	background-image: url('../images/logo.svg');
	@include type-space(padding, 1 0 1);
    background-attachment: fixed;
}

.hero__body {
	display: table-cell;
	vertical-align: middle;
	max-width: 99%;
}
