//------------------------------------
//    $COLORS
//------------------------------------
//Based on:
//http://blog.12spokes.com/web-design-development/simple-css-color-management-with-sass/
//Darker and lighter darkens are available by adding
// -dark/-darker/-light/-lighter to the end of variable names.

$colors: (
	primary: (
		base: #063b6d
	),
	primary-alt: (
		base: #5f82a3
	),
	accent: (
		base: #d40026
	),
	accent-alt: (
		base: #fe0202
	),
	action: (
		base: #4c7659
	),
	function: (
		base: #d4c9ad
	),
	alert: (
		base: #b22727
	)
) !default;

//Color map
//For easy access, just declare color([color name],[color modifier])
// e.g.
// div{
//	background-color: color(primary, lighter);
//	}
//
// If you'd prefer to just get the base color, you do not need to declare 'base',
// just declare color([color name]). 'base' is implied.

//Non-standard colors
// Feel free to add any colors here
$additional_colors: (
	yellow: (
		base: #efee90
	)
	,orange: (
		base: #faae2e
	)
	,green: (
		base: #b6eba4
	)
);

//Combines two color maps (or really any nested map)
@function combine_colors($map1, $map2){
	@each $pal, $color in $map2{
		$value: ($pal: $color);
		$map1: map-merge($map1, $value);
	}
	@return $map1;
}

//Adds lighter, darker variations to color map
// 1. Gather variation names.
// 2. Define the lighten/darken percentages.
// 3. Get half the length of the varations for use later.
// 4. Loop through the pallets and colors of the map input.
// 5. Store the base color value that we'll add to throughout the next loop.
// 6. Loop through the variation names.
// 7. Grab the lighten/darken amount based on the loop iteration.
// 8. If the loop is over half done, switch from lighten to darken.
// 9. Create the variation and color definition in map format ("name": color).
//10. Merge the current base color map with the new variant map.
//11. Format the previous loops results into a nested map.
//12. Merge the input map with itself and the new nested map.
//13. Return the map with the new values.

@function generate_color_variations(
	$map,
	$tint:false,
	$variations: (light, lighter, lightest, dark, darker, darkest), //[1]
	$increments: (10%, 20%, 30%, 10%, 20%, 40%) 				    //[2]
){
	$switch-variation: length($variations) / 2; 				  //[3]
	$new-map: $map !global;

	@each $pal, $color in $map{ 				//[4]
		$values-list: $color !global;			//[5]

		@each $variant in $variations {         //[6]
			$i: index($variations, $variant);
			$amount: nth($increments, $i);		//[7]
			@if $tint == false{
				@if $i > $switch-variation { 									//[8]
					$new-color: darken(map-get($color, base), $amount) !global; //[8]
				}@else{
					$new-color: lighten(map-get($color, base), $amount) !global; //[8]
				}
			}@else{
				@if $i > $switch-variation { 									//[8]
					$new-color: shade(map-get($color, base), $amount) !global; //[8]
				}@else{
					$new-color: tint(map-get($color, base), $amount) !global; //[8]
				}
			}
			$value: ($variant: $new-color); 				  				//[9]
			// This is required because sass maps are formatted as
			// (first-level: ((second-level: value)) )
			$values-list: map-merge($value, $values-list) !global;			//[10]

		}

		$inner-map: ($pal:($values-list));						//[11]
		$new-map: combine_colors($new-map, $inner-map) !global;	//[12]

	}
	@return $new-map; 			//[13]
}

$additional_colors: generate_color_variations($additional_colors) !global;

// Replaces all the code from line 134-279
$colors: generate_color_variations($colors) !global;

//Adding the additional colors to the colors map.
$colors: combine_colors($colors, $additional_colors) !global;

$primary-color: colors(primary) !default;        		//UW Blue (dark blue)
$primary-color-alt: colors(primary-alt) !default;    	//UW Steel Blue
$brand-color: colors(primary) !default;
$accent-color: colors(accent) !default;        			//UW Red (maroonish-red)
$accent-color-alt: colors(accent-alt) !default;    		//UW Fire Red (orangey-red)
$action-color: colors(action) !default;         	//Green / Earth
$function-color: colors(function) !default;       		//UW Tan
$alert-color: colors(alert) !default;         	 		//Red
$border-color: #8a9095 !default;         				//Grey
$link-color: $primary-color !default;


$primary-color-dark: darken($primary-color, 10%)                  !default;    //Darker UW Blue (dark blue)
$primary-color-alt-dark: darken($primary-color-alt, 10%)          !default;    //Darker UW Steel Blue
$accent-color-dark: darken($accent-color, 10%)                    !default;    //Darker UW Red (maroonish-red)
$accent-color-alt-dark: darken($accent-color-alt, 10%)            !default;    //Darker UW Fire Red (orangey-red)
$action-color-dark: darken($action-color, 10%)                    !default;    //Darker Green / Earth
$function-color-dark: darken($function-color, 10%)                !default;    //Darker UW Tan
$alert-color-dark: darken($alert-color, 10%)                      !default;    //Darker Red
$border-color-dark: darken($border-color, 10%)                    !default;       //Blueish-Gray
$link-color-dark: darken($link-color, 10%)                         !default;

$primary-color-darker: darken($primary-color, 20%)              !default;    //Deep UW Blue (dark blue)
$primary-color-alt-darker: darken($primary-color-alt, 20%)      !default;    //Deep UW Steel Blue
$accent-color-darker: darken($accent-color, 20%)                !default;    //Deep UW Red (maroonish-red)
$accent-color-alt-darker: darken($accent-color-alt, 20%)        !default;    //Deep UW Fire Red (orangey-red)
$action-color-darker: darken($action-color, 20%)                !default;    //Deep Green / Earth
$function-color-darker: darken($function-color, 20%)            !default;    //Deep UW Tan
$alert-color-darker: darken($alert-color, 20%)                  !default;    //Deep Red
$border-color-darker: darken($border-color, 20%)                !default;      //
$link-color-darker: darken($link-color, 20%)                       !default;

$primary-color-light: lighten($primary-color, 10%)               !default;    //Ligher UW Blue
$primary-color-alt-light: lighten($primary-color-alt, 10%)       !default;    //Ligher UW Steel Blue
$accent-color-light: lighten($accent-color, 10%)                 !default;    //Ligher UW Red (maroonish-red)
$accent-color-alt-light: lighten($accent-color-alt, 10%)         !default;    //Ligher UW Fire Red (orangey-red)
$action-color-light: lighten($action-color, 10%)                 !default;    //Ligher Green / Earth
$function-color-light: lighten($function-color, 10%)             !default;    //Ligher UW Tan
$alert-color-light: lighten($alert-color, 10%)                   !default;    //Ligher Red
$border-color-light: lighten($border-color, 10%)                 !default;      //Lighter Grey
$link-color-light: lighten($link-color, 10%)                      !default;

$primary-color-lighter: lighten($primary-color, 20%)               !default;    //Ligher UW Blue
$primary-color-alt-lighter: lighten($primary-color-alt, 20%)       !default;    //Ligher UW Steel Blue
$accent-color-lighter: lighten($accent-color, 20%)                 !default;    //Ligher UW Red (maroonish-red)
$accent-color-alt-lighter: lighten($accent-color-alt, 20%)         !default;    //Ligher UW Fire Red (orangey-red)
$action-color-lighter: lighten($action-color, 20%)                 !default;    //Ligher Green / Earth
$function-color-lighter: lighten($function-color, 20%)             !default;    //Ligher UW Tan
$alert-color-lighter: lighten($alert-color, 20%)                   !default;    //Ligher Red
$border-color-lighter: lighten($border-color, 20%)                 !default;      //Lighter Grey
$link-color-lighter: lighten($link-color, 20%)                     !default;