{#if innerComponent}
    <svelte:component this={innerComponent} {...props} />
{:else}
    <p> No Route Found at {path}. </p>
    <pre>
        Path: {path}
        Pathname: {pathname}
    </pre>
    { error }
{/if}

<script>
// import store from './demo.store.js';
import Route from 'svelte-routing/Route.html?ssr';
import capitalize from '@/helpers/title-case';
import findExport from '@/helpers/find-export.js';
const pages = require(`val-loader?{"returnPages": true}!./create-nav.js`);

export default {
    components: { Route },
    data: () => ({
        pathname: '/',
        basePath: '/',
        match: '',
        error: ''
    }),
    computed: {
        props: (state) => state,
        innerComponent: ({match, props, path, pathname, error }) => {
            //console.log(path, pages);
            if(path.indexOf('index.html') < 0) {
                if(path.substring(path.length - 1) !== '/') {
                    path += '/';
                }
                path += 'index.html';
            }
            path = path.replace('/', '');

            if(!pages[path]) return false;

            const file = pages[path].file.replace('.html', '');
            const folder = pages[path].folder;

            //console.log(pages[path]);
            if (folder === '.') { folder = 'pages/'; }

            const page = file.substring(file.indexOf(folder));
            try {
                const component = findExport(
                    require(/* webpackChunkName: "pages/route-[request]" */
                        '@/pages/' + page + '.html')
                );

                return component;
            } catch(e) {
                console.log(e);
                return false;
            }
        },
    },
};
</script>
