<!-- Svelte-routing: https://github.com/EmilTholin/svelte-routing -->
<nav ref:navigation class="demo-navigation">
    <img src="/public/static/img/favicons/icon.svg" style="height: {60/16}rem;" alt="">
    {#each links as [name, url] (url)}
        <NavLink ref:url
            to="{url}"
            activeClassName="demo-navigation__link--active"
            className="demo-navigation__link">
            {name}
        </NavLink>
    {/each}
</nav>

<style lang="scss">
    :global(.demo-navigation__link) {
        transition: background-color color 200ms ease-out;
    }

    :global(.demo-navigation__link--active) {
        background-color: lighten(#DBE6EF, 6%);
        border-radius: 5px;
        color: darken(#DBE6EF, 25%);
        transition: background 2000ms ease-out;
    }
</style>

<script>
import { createMemoryHistory, createBrowserHistory } from 'svelte-routing';

let history;

if (typeof window === 'undefined') {
    history = createMemoryHistory();
} else {
    history = createBrowserHistory();
}
// Use Node to pre-evaluate the .demo files and create a list of demo links
const links = require(
    `val-loader?{"filePath":"","publicPath":"/"}!./create-nav.js`
    );

export default {
    components: {
        NavLink: 'svelte-routing/NavLink.html',
    },
    data: () => ({
        history,
    }),
    helpers: {
        links,
    },
};
</script>
