<!-- Used for /path/to/thing/index.html or /path/to/thing/ -->
<Route path='/:path([^.]*)*/:file([^.]+\.html)?'
    {...history} {pathname}
    bind:match="match"
>
{#if innerComponent}
    <svelte:component this={innerComponent} />
{/if}
</Route>

<script>
import Route from 'svelte-routing/Route.html?ssr';
import capitalize from '@/helpers/title-case';
import findExport from '@/helpers/find-export.js';
import findPage from './check-route.js';
import {matchPath, getHistory} from 'svelte-routing';

export default {
    components: { Route },
    data() {
        const history = getHistory();
        //console.log(history.location);
        return {
            basePath: '/',
            error: '',
            pathname: history.location.pathname,
            history,
            next: false
        }
    },
    helpers: {},
    computed: {
        props: (state) => state,
        // match: ({ pathname, path, exact, strict }) => {
        //     return matchPath(pathname, { path, exact, strict });
        // },
        innerComponent: ({ match, pathname }) => {
            const page = findPage(pathname);
            console.log('page:', page, match);
            if (!page) return false;
            try {
                const component = findExport(
                    require(/* webpackChunkName: "pages/route-[request]" */
                        '@/pages/' + page + '.html')
                );

                return component;
            } catch(e) {
                console.log(e);
                return false;
            }
        }
    },
    oncreate() {
        this.checkRoute
        //console.log('opts', this.options);
    }
};
</script>
