<svelte:head>
    <title>→ { $pageTitle || demoTitle } demo</title>
    {#if (typeof style !== 'object')}
        <link href="{ style || style.url }" rel="stylesheet" />
    {/if}
</svelte:head>

<Nav/>

<div class="demo">
    <header class="demo-header">
        <div class="wrap">
            <h1 class="demo-header__title">
                { demoTitle }
            </h1>
            <div class="demo-header__component">
                <slot name="header">
                    <div></div>
                </slot>
            </div>
        </div>
    </header>

    <main class="demo-body">
        <div class="wrap">
            {#if variants || variantTitle}
            <h2 class="demo-body__head">
                { variantTitle || demoTitle } Variants
            </h2>
            <slot name="variants"></slot>
            {/if}
        </div>
    </main>
</div>

<script>
import store from './demo.store.js';
import stylesheet from /* webpackPrefetch: true */ './demo.scss';
import Nav from '@/layouts/demo/demo.nav.html';

export default {
    components: { Nav },
    store: () => store,
    data: () => ({
        style: stylesheet,
        demoTitle: 'Demo',
        variantTitle: false,
        variants: false,
        stylesheet: true,
        currentRoute: 'demo',
    }),
    computed: {
        lowercaseRoute: ({ currentRoute }) => currentRoute.toLowerCase(),
    },
    oncreate() {
        if (this._slots.variants) {
            this.set({ variants: true });
        }
    },
};
</script>
