/* SG
# Variables/Defaults [[dev]]

@file /globals/_gl-defaults.scss

-------------------------------------------

Default settings for variables.

##### `$$h[#]-lh`
###### boolean/unitless/pixel value
Parses `$$type-h[#]-size` for an optional line-height value, if none exists, just set to `true`. This value will be passed to `@type-font-size()`.


##### `$$type-base-unit`
###### Number
Abstraction of the base spacing unit used in any mixin or function that defines spacing units.

##### `$$type-base-ratio`
###### Number
Ratio used to calculate the difference between font sizes and spacing units.


##### `$$type-headings`
###### List (number)
Used for defining automatic headings functions.

##### `$$type-modular-scale`
###### Number
Abstracts the `$$scale-ratio` and makes sure it's a positive number.


##### `$$all-breakpoints`
###### List
Stores all the names defined in `$$breakpoints` for use in abstract framework components so that if names are chagned, boilerplate media queries won't fail.


##### `$$breakpoint-smallest`
###### String
Grabs the first `$$breakpoints` name.


##### `$$breakpoint-largest`
###### String
Grabs the last `$$breakpoints` name.

##### `$$colors-list`
###### List (string)
The names of all colors in the `$$colors` map.

*/
//------------------------------------
//    TYPOGRAPHY
//------------------------------------

$primary-font-stack:   helvetica, arial, sans-serif !default;
$secondary-font-stack: georgia, serif 				!default;
$monospace-font-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;

//Use web font generator?
$use-web-fonts: 		true     !default;
//Font folder location relative to css
$font-file-location: 	'fonts'  !default;
//Font-family base name. This can be a list. e.g.
// 'asap', 'bitter'
$font-file-name: 		'Asap' 	 !default;
//Include italics?
$font-italics: 			true  	 !default;
$font-weights: 			400,700  !default;
$font-include-eot: 		true 	 !default;
$font-include-woff2: 	true	 !default;

//Include px values when rems are generated?
$rem-px-fallback: 			true !default;

// What would you like your base font-size to be? Define in pixels; the library
// will convert measurements to the most appropriate units (rems or unitless).
$base-font-size:      16px !default;
$base-line-height:    24px !default;

// Would you like to automatically scale your Heading sizes?
// This can provide a more elegant typographic rhythm and is recommended to stay at true.
$auto-scale-type:          true !default;

// Set the ratio by which your type should grow.
// Accepts two numbers, representing a ratio, typically associated with
// music intervals. You may also use floats (1.33).
// Common intervals: Perfect fourth (4,3)[default], Perfect Fifth (3,2),
// Perfect Octave (2,1), Major Third (5,4), Major Sixth (5,3).
// The Golden Ratio is (1.618,1).
$scale-ratio:               1.214   !default;

// Heading sizes if you'd rather set them yourself (set $auto-scale-type to false).
@if $auto-scale-type {
    $type-h1-size:          modular-scale(7);
    $type-h2-size:          modular-scale(5);
    $type-h3-size:          modular-scale(4);
    $type-h4-size:          modular-scale(3);
    $type-h5-size:          modular-scale(2);
    $type-h6-size:			modular-scale(1);
    $type-small-size:		modular-scale(-1);
}

//Check for existence of line-height override, and store it
$h1-lh: 					if(length($type-h1-size) > 1, nth($type-h1-size, 2),
    baseline-calc(nth($type-h1-size,1)));
$h2-lh: 					if(length($type-h2-size) > 1, nth($type-h2-size, 2),
    baseline-calc(nth($type-h2-size,1)));
$h3-lh: 					if(length($type-h3-size) > 1, nth($type-h3-size, 2),
    baseline-calc(nth($type-h3-size,1)));
$h4-lh: 					if(length($type-h4-size) > 1, nth($type-h4-size, 2),
    baseline-calc(nth($type-h4-size,1)));
$h5-lh: 					if(length($type-h5-size) > 1, nth($type-h5-size, 2),
    baseline-calc(nth($type-h5-size,1)));
$h6-lh: 					if(length($type-h6-size) > 1, nth($type-h6-size, 2),
    baseline-calc(nth($type-h6-size,1)));
$small-lh:					if(length($type-small-size) > 1, nth($type-small-size, 2),
    baseline-calc(nth($type-small-size,1)));

//Make sure we only grab the first-value
$type-h1-size: 				nth($type-h1-size, 1);
$type-h2-size: 				nth($type-h2-size, 1);
$type-h3-size:              nth($type-h3-size, 1);
$type-h4-size:              nth($type-h4-size, 1);
$type-h5-size:              nth($type-h5-size, 1);
$type-h6-size:              nth($type-h6-size, 1);
$type-small-size: 			nth($type-small-size, 1);

//Create heading classes for sizing (e.g. .h1,.h2,etc.)?
$type-scale-classes:       true !default;

// Would you like indented (rather than spaced) paragraph delimiting?
$indented-paragraphs: false !default;

// Would you like to show a baseline grid? This is handy during development.
$debug-baseline:       false !default;

// Do not modify these variables; they are internal settings upon which the
// library depends.

$type-base-unit:        $base-line-height;

@if $base-font-size >= $base-line-height {
	$type-base-unit: baseline-calc($base-font-size) * $base-font-size !global;
}

$type-base-ratio: ($type-base-unit / $base-font-size) !global;

$type-headings:            6,5,4,3,2,1;
$type-modular-scale:       0;


//Spacing variable for simple inclusion.
$type-space: 2 * $type-base-ratio;

//Variable for easier reference:
$stripped-base-font-size:  strip-units($base-font-size) !global;
$type-modular-scale: $scale-ratio;
//Checking for floats in $scale-ratio
@if length($scale-ratio) == 2{
// Making sure we don't have a ratio below 1.
    @if nth($scale-ratio,1) < nth($scale-ratio,2){
        $type-modular-scale:   nth($scale-ratio, 2)/nth($scale-ratio, 1);
    }@else{
        $type-modular-scale:   nth($scale-ratio, 1)/nth($scale-ratio, 2);
    }
}

//Silent class registry
// Holds all auto-generated silent classes.

$silent-class-registry: ();

//------------------------------------
//    $GRID
//------------------------------------

$grid-columns: 				12 !default;

// If you are building a non-responsive site but would still like to use
// grids, set this to ‘false’:
$responsive:            true !default;


 // Is this build mobile first? Setting to ‘true’ means that all grids will be
 // 100% width if you do not apply a more specific class to them.

$mobile-first:          true !default;


 // Set the spacing between your grid items.

$grid-gutter:                24px !default;


 // Would you like Sass’ silent classes, or regular CSS classes?

$grid-silent-classes:    false !default;


 // Would you like to use floats instead of inline block?
$grid-floats:             false !default;


 // Would you like push and pull classes enabled?

$grid-push:                  false !default;
$grid-pull:                  false !default;

//Would you like to use margins rather than 'right' and 'left' for
//pushing and pulling?

$grid-margin-adjustments: false!default;


 // Using `inline-block` means that the grid items need their whitespace removing
 // in order for them to work correctly. Set the following to true if you are
 // going to achieve this by manually removing/commenting out any whitespace in
 // your HTML yourself.

 // Setting this to false invokes a hack which cannot always be guaranteed,
 // please see the following for more detail:

 // github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 // github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371

$grid-markup-fix:        true !default;


 // Define your breakpoints. The first value is the prefix that shall be used for
 // your classes (e.g. `.small--one-half`), the second value is the media query
 // that the breakpoint fires at.

$breakpoints: (
    'small' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'port' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)',
	'bigs' '(min-width: 481px)'
)!default;

$all-breakpoints: ();

//Grab all breakpoint names
@each $breakpoint in $breakpoints {
	$temp-bp: nth($breakpoint, 1);

	@if $temp-bp != ' '{
		$all-breakpoints: append($all-breakpoints, $temp-bp, comma) !global;
	}
}

//Abstracting the smallest and largest breakpoints
$breakpoint-smallest: nth($all-breakpoints, 1) !default;
$breakpoint-largest: nth($all-breakpoints, length($all-breakpoints)) !default;


// Define which namespaced breakpoints you would like to generate for each of
// widths, push and pull. This is handy if you only need pull on, say, desk, or
// you only need a new width breakpoint at mobile sizes. It allows you to only
// compile as much CSS as you need. All are turned on by default, but you can
// add and remove breakpoints at will.

// Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
// have been set to ‘true’.

$breakpoint-has-widths: ('small', 'lap', 'port', 'desk')!default;
$breakpoint-has-push:   ('small', 'lap', 'port', 'desk')!default;
$breakpoint-has-pull:   ('small', 'lap', 'port', 'desk')!default;

//------------------------------------
//		$SPACING AND ALIGNMENT
//------------------------------------

//Silent versions of these classes will always be output.
//These options control the output of the normal css classes.

$include-alignment-classes: 	false !default;
$include-spacing-classes: 		false !default;

//At which breakpoints should spacing and alignment classes be included?
$breakpoint-has-utilities:    ('smalls', 'small', 'bigs', 'desk') !default;

//------------------------------------
//		$COLORS
//------------------------------------

//Base color variable
// Any name can be used, and any name can contain a map of variations.
// e.g. primary: (base: #063b6d, light: #BADA55, dark: #D00DE ),
// Variations will automatically be generated, but are at the whims of math

//See colors/_colorfunctions.scss for more

$base-colors: (
	'primary': #063b6d,
	'primary-alt': #5f82a3,
	'accent': #d40026,
	'accent-alt': #fe0202,
	'action': #4c7659,
	'function': #d4c9ad,
	'alert': #b22727
) !default;

//------------------------------------
//		$SANITIZE
//------------------------------------

$root-background-color: color('bg');
$root-color: color('type');
$root-font-family: $primary-font-stack;
$root-font-size: 100%;
$root-line-height: $base-line-height/$base-font-size;
$root-text-rendering: optimizeLegibility;
$root-cursor: inherit;

$anchor-text-decoration: none;
$background-repeat: no-repeat;

$form-element-min-height: $root-line-height;
$textarea-resize: vertical;

$media-element-vertical-align: middle;

$monospace-font-family: $monospace-font-stack;

$nav-list-style: none;

$selection-background-color: mix(color('links'), color('bg'), 80%);
$selection-color: black-or-white($selection-background-color);
$selection-text-shadow: none;

$table-border-collapse: collapse;
$table-border-spacing: 0;
