//--------------------------------\\
//    Application-specific CSS
//---------------------------------\\

// Put all of your normal/application-specific CSS here.
hr{
	height: 2px;
}

body{
	@extend %pad_b_2;
	background-image: photoshop-gradient-overlay(
			(color(bg, lightest), color(bg)), (0%, 100%),
			90
		);
}
.wrap{
    @extend %bigs_nine_tenths; //90%
	@extend %smallish_eleven_twelfths; //~92%
	@include type-space-sc(padding, 1, 0);
    @extend %clearfix;
    max-width: 1200px;
    margin: 0 auto;
    display: block !important;
    float: none;
}
@include mq(small){

	@include headings-scale(1.17, small);

	.wrap{
        width: 95%;
    }
}
@include mq(smallish){
	@include headings-scale(1.2, smallish);
}

.row_narrow{
    @extend %grid_narrow;
}
.row{
    @extend %grid;
}
.fixed_row {
    margin-left: 0;
}
.row > *{
	@extend %grid_reset;
}

.column{
    @extend %grid_item;
    @extend %one_whole;
}
.half{
	@extend %one_half;
}
.quarter{
	@extend %one_quarter;
}
.sidebar{
    @extend %bigs_one_quarter;
}
.content{
    @extend %bigs_three_quarters;
}

.add_on{
    @extend %smallish_one_fifth;
    @extend %bigs_one_sixth;
}
.wide_content{
    @extend %smallish_four_fifths;
    @extend %bigs_five_sixths;
}
.button{
    @extend %button;
}
.media_block{
    @extend %media_block;
    @extend %cf;
}
.icon {
	width: 1.2em;
	margin-right: .5em;
	display: inline-block;
	margin-top: -.25em;
}
.box_open{
	border-width: 2px;
}

.link_naked, %link_naked{
	color: inherit;
	text-decoration: none;

	&:hover, &:focus{
		color: inherit;
		text-decoration: none;
	}
}
.table_striped tr:nth-child(odd) td {
	background-color: color(primary-alt, lightest);
}
.table_striped th, .table_striped td {
	border-color: color(function,dark);
	border-style: solid;
}
.tab_topline > .tabs{
	background-color: #e3f1fa;
}
.tab_minimal > .tab_content{
	box-shadow: 0 2px 0 rgba(color(type), 0.1);
}
[class*="list_bordered"] > li{
	border-top-width: 2px;
	margin-top: -2px;
	&:first-child{
		border-top-color: color(function);
	}
}
.tab, .list_nav a{
	font-family: $secondary-font-stack;
	text-transform: uppercase;
	letter-spacing: .5px;
	@extend %txt_bold;
	@extend small;
	text-decoration: none;
}

//---DELETE EVERYTHING AFTER THIS---//
//---Everything below is just for examples--//

#toggles{
    position: fixed;
    top: -1px;
    right: -1px;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 0px 0px 0px 3px;
}
