$base_namespace: 'base_';

%list_naked {
	@include no-bullets;
    @extend %space_l_n;
}

%#{$base_namespace}{
	&primary_font_family {
		font-family: $primary-font-stack;
	}
	&secondary_font_family {
		font-family: $secondary-font-stack;
	}
	&type_vertical_rhythm {
		@extend %base_space_reset;
		@extend %base_space_b;
	}
}
//Use an image instead of text, but keep the text in the DOM for
//screen readers.
//Particularly useful for logos. e.g.
// .logo{
//   @include %image-replace;
//   background: url(image/logo.png) no-repeat;
// }
%replace_image {
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	border: 0;
	*text-indent: -9999px;

	&:before{
		content: "";
		@extend %show;
		width: 0;
		height: 150%;
	}
}

%naked_list {
	@include no-bullets;
}

//Hide Visually. Usefuly for Accessiblity.
//Used for text which describes a purely visual function.
// e.g. Adding 'Current page' to the current nav item (which is usually indicated by something visual.
%visually_hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	transition: all 300ms ease-in-out;
}

@include spacing-utilities-init(
	$namespace: $base_namespace,
	$config: (important: false, silent: true)
);

@include alignment-utilities-init(
	$namespace: $base_namespace,
	$important: false,
	$silent: true
);

@include display-utilities-init(
	$namespace: $base_namespace,
	$important: false,
	$silent: true
);

@include type-utilities-init(
	$namespace: $base_namespace,
	$important: false,
	$silent: true
);
