//------------------------------------
//    $HEADINGS
//------------------------------------

%base_heading_space {
	@include type-space(margin-bottom, 1);
}

@if not $auto-scale-type {

    %base_h1 {
		@extend %base_heading_space;
        @include font-size($type-h1-size, $h1-lh);
    }
    %base_h2 {
		@extend %base_heading_space;
        @include font-size($type-h2-size, $h2-lh);
    }
    %base_h3 {
		@extend %base_heading_space;
        @include font-size($type-h3-size, $h3-lh);
    }
    %base_h4 {
		@extend %base_heading_space;
        @include font-size($type-h4-size, $h4-lh);
    }
    %base_h5 {
		@extend %base_heading_space;
        @include font-size($type-h5-size, $h5-lh);
    }
    %base_h6 {
		@extend %base_heading_space;
        @include font-size($type-h6-size, $h6-lh);
    }

    h1 {
        @extend %base_h1;
    }
    h2 {
        @extend %base_h2;
    }
    h3 {
        @extend %base_h3;
    }
    h4 {
        @extend %base_h4;
    }
    h5 {
        @extend %base_h5;
    }
    h6 {
        @extend %base_h6;
    }

}@else {
	@include headings-scale($scale-ratio);
}


@include headings(1, 6) {
	@extend %secondary_font_family;

    & + p {
        @include type-space(margin-top, -1);
    }
}

//-------------------------------
//    $PARAGRAPHS
//-------------------------------
p {
	@extend %base_type_vertical_rhythm;

    @if $indented-paragraphs == true {

        & + & {
            @include type-space(text-indent, .5);
            @include type-space(margin-top, -1);
        }

    }
}

small {
	display: inline-block; //allows for own line-height

	@if $auto-scale-type {
		@include font-size(modular-scale(-1), true);
	}@else {
		@include font-size($type-small-size, $small-lh);
	}
}

//
// Not strictly a paragraph, but probably doesn’t need its own section.
//
address {
    @extend %base_type_vertical_rhythm;
}

b,
strong {
	font-weight: bold;
}

pre {
    @extend %base_type_vertical_rhythm;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


// 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
//    font-size smaller than 1em.

code,
kbd,
pre,
samp {
    font-family: $monospace-font-stack;
    _font-family: 'courier new', monospace;
    font-size: 1em; // [1]
}

//Address styling not present in IE 7/8/9, Safari 5, and Chrome.


//-------------------------------
//    $QUOTES
//-------------------------------
//
// 1. Hang the opening quote of the blockquote.
//	Uses ex length for font-relative spacing
//
blockquote {
    text-indent: -.5ex; // [1]
}

blockquote {
    @include type-space(margin, 0 0 1 1);
    quotes: '“' '”';

    p {
        &:before {
            content: "“";
            content: open-quote;
        }

        &:after {
            content: "";
            content: no-close-quote;
        }

        &:last-of-type:after {
            content: "”";
            content: close-quote;
        }

    }

}

q   {
    *quotes: none;
    quotes: "‘" "’" "“" "”";
    overflow: visible;

    &:before {
        content: "‘";
        content: open-quote;
    }

    &:after {
        content: "’";
        content: close-quote;
    }

    q:before {
        content: "“";
        content: open-quote;
    }

    q:after{
        content: "”";
        content: close-quote;
    }

    //
    // If an element opens with an inline quote, let’s hang that.
    //
    &:first-child {
        display: inline-block;
        text-indent: -0.22em;
    }

}
