//Base table styles
table {
    @extend %type-vertical-rhythm;
    width: 100%;
    background-color:transparent;
    border-collapse: collapse;
    border-spacing:0;
    @extend %space_v;
}

th,
td {
	@include type-space-sc(padding, 1, 0, .5);
	text-align:left;
	vertical-align:top;
	border: 0;
	border-bottom: 1px;
	border-top-width: 0px;
	border-color: #ddd;
	border-style: solid;
}

th {
	@extend %txt_bold;
}

thead th {
	vertical-align:bottom;
	@include type-space-sc(padding, 1, 0, 0 );
}
