/* sanitize.css v6.0.0 | CC0 1.0 Public Domain | github.com/csstools/sanitize.css */

$root-text-rendering: optimizeLegibility;

$anchor-text-decoration: none;
$background-repeat: no-repeat;

$form-element-background-color: transparent;
$form-element-min-height: $base-line-height;
$media-element-vertical-align: middle;

$selection-background-color: mix(color('links'), color('bg'), 80%);
$selection-color: black-or-white($selection-background-color);
$selection-text-shadow: none;

$table-border-collapse: collapse;
$table-border-spacing: 0;
$textarea-resize: vertical;

/*
 * Normalization
*/

// specify universal inheritance
// specify the border style and width of all elements

*,
::before,
::after {
	box-sizing: inherit;
    border-style: solid;
	border-width: 0;
}

* {
	font-size: inherit;
	line-height: inherit;
    background-repeat: $background-repeat;
	margin: 0;
	padding: 0;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

// specify the root styles of the document

:root {
	background-color: color('bg');
	box-sizing: border-box;
	color: color('type');
	cursor: inherit;
    font-size: percentage($base-font-size/16px);
	line-height: $type-base-ratio;
    font-family: $primary-font-stack;
	text-rendering: $root-text-rendering;
}

html {
	-ms-overflow-style: -ms-autohiding-scrollbar; // Edge 12+, Internet Explorer 11-
	overflow-y: scroll; // All browsers without overlaying scrollbars
	-webkit-text-size-adjust: 100%; // iOS 8+
	-ms-text-size-adjust: 100%;
}

audio:not([controls]) {
	display: none; // Chrome 44-, iOS 8+, Safari 9+
}

button {
	overflow: visible; // Internet Explorer 11-
	-webkit-appearance: button; // iOS 8+
}

details {
	display: block; // Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+
}

input {
	-webkit-border-radius: 0; // iOS 8+

	&[type="button"], &[type="reset"], &[type="submit"] {
		-webkit-appearance: button; // iOS 8+
	}

	&[type="number"] {
		width: auto; // Firefox 36+
	}

	&[type="search"] {
		-webkit-appearance: textfield; // Chrome 45+, Safari 9+

		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			-webkit-appearance: none; // Chrome 45+, Safari 9+
		}
	}
}

main {
	display: block; // Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+
}

pre {
	overflow: auto; // Internet Explorer 11-
}

progress {
	display: inline-block; // Internet Explorer 11-, Windows Phone 8.1+
}

summary {
	display: block; // Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+
}

svg:not(:root) {
	overflow: hidden; // Internet Explorer 11-
}

template {
	display: none; // Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+
}

textarea {
	overflow: auto; // Edge 12+, Internet Explorer 11-
	resize: $textarea-resize;
}

[hidden] {
	display: none; // Internet Explorer 10-
}

// specify the text decoration of anchors

a {
    background-color: transparent;
	text-decoration: $anchor-text-decoration;
}

// Remove the tapping delay on clickable elements in all browsers

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

// specify the alignment of media elements

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: $media-element-vertical-align;
}

// specify the inherited color and font of form elements

button,
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

// specify the minimum height of form elements

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	@include px-to-rems('min-height', $form-element-min-height);
}

// specify the font family of code elements

code,
kbd,
pre,
samp {
	font-family: $monospace-font-stack, monospace;
}

// specify the standard appearance of selects

select {
	-moz-appearance: none;    // Firefox 40+
	-webkit-appearance: none; // Chrome 45+

	&::-ms-expand {
		display: none;        // Edge 12+, Internet Explorer 11-
	}

	&::-ms-value {
		color: currentColor;  // Edge 12+, Internet Explorer 11-
	}
}

// specify the border styling of tables

table {
	border-collapse: $table-border-collapse;
	border-spacing: $table-border-spacing;
}

// specify the background color, font color and drop shadow of text selections

::-moz-selection {
	background-color: $selection-background-color; // required when declaring ::selection
	color: $selection-color;
	text-shadow: $selection-text-shadow;
}

::selection {
	background-color: $selection-background-color; // required when declaring ::selection
	color: $selection-color;
	text-shadow: $selection-text-shadow;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

// Remove inner padding and border in Firefox 3+.
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

// specify the progress cursor of updating elements

[aria-busy="true"] {
	cursor: progress;
}

// specify the pointer cursor of trigger elements

[aria-controls] {
	cursor: pointer;
}

// specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements

[aria-disabled],
[disabled] {
	cursor: default;
}

// specify the style of visually hidden yet accessible elements

[hidden][aria-hidden="false"] {
	clip: rect(0 0 0 0);
	display: inherit;
	position: absolute;

	&:focus {
		clip: auto;
	}
}

dialog {
    background-color: white;
    border: solid;
    color: black;
    display: block;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    width: fit-content;
}

dialog:not([open]) {
    display: none;
}
