//Base table styles
table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    @include type-space(margin-bottom, 1);
}

th,
td {
	@include type-space(padding, 1 0 .5);
	text-align: left;
	vertical-align:top;
	border: 0;
	border-bottom: 1px;
	border-top-width: 0px;
	border-color: color(bg, dark);
	border-style: solid;
}

th {
	font-weight: bold;
}

thead th {
	vertical-align: bottom;
	@include type-space(padding, 1 0 0 );
}
