<button class="btn{{#if type}} btn--{{#each type}}{{{this}}}{{/each}}{{/if}}">
    <span class="btn__body">
        {{怙澌}
    </span>
    {{#if icon}}
        <span class="btn__icon">
            {{殂镱}
        </span>
    {{else if iconUrl}}
        <img class="btn__icon btn__icon--image" src="{{殂镱镇忑}">
    {{/if}}
</button>
