/* SG
# Buttons
Applying the `btn` class to anything will make it look like a button. Always declare `type="button"` on `<button>` elements for proper accessibility.

```html_example
<button type="button" class="btn">Button</button>

<a href="" class="btn">Faux Button</a>
```

*/

//Useful placeholder selector for button creation

%button {
    border-radius: type-space(.85)/type-space(1);
    box-shadow: 0 3px 4px -2px rgba(black, 0);
    background-color: color('links');
    padding: type-space(.5 .375);
    color: white;
    font-weight: bold;
    transition: background-color .1s ease-in-out, box-shadow .2s ease-out, color .1s ease-in-out;

    &:focus,
    &:hover {
        outline: none;
        box-shadow: 0 3px 8px -2px rgba(color('links', 'light'), .65);
        background-color: color('links', 'light');
    }

    &:active {
        outline: none;
        box-shadow: 0 0 4px 1px rgba(color('links', 'lighter'), .5);
        background-color: color('links', 'lighter');
        color: color('links', 'lightest');
    }

}

.btn {
    @extend %button;
    display: inline-flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

.btn--wide {
    @extend %one_whole;
}

.btn__icon {
    display: inline-block;
    flex: 0 1 auto;
    margin: type-space(0 .25 0 .25);

    .btn--reversed & {
        order: -1;
    }
}

.btn__svg,
.btn__icon--image {
    display: block;
    width: type-space(1);
    height: auto;
    min-height: 1px;
    fill: currentColor;
}

.btn__body {
    display: inline-block;
    flex: 1 1 auto;
    padding: type-space(0 .5);
}
