<style>
    .button-holder {
        display: inline-block;
        padding: 1rem 1rem 1rem 0;
    }
    .button-holder--wide {
        min-width: 20%;
    }
</style>

<Demo demoTitle="Buttons" variants="{{true}}" currentRoute="Button">
    <div slot="header">
        <Button body="whatup"/>
    </div>
    <div slot="variants">
        {{#each widths as buttonType}}
        <div class="button-holder button-holder--{{buttonType}}">
            <Button type="{{buttonType}}" body="{{capitalize(buttonType)}}"/>
        </div>
        {{/each}}

    </div>
</Demo>

<script>
    import Button from './button.html';
    import Demo from '../demo/demo.wrapper.html';
    import capitalize from '@/components/tools/title-case';

    export default {
        components: {
            Button,
            Demo
        },
        data() {
            return {
                widths: ['normal', 'wide', 'compact'],
                // asyncButton: {
                //     loader: () => import('./button.html'),
                //     webpack: () => require.resolveWeak('./button.html'),
                //     attrs: {
                //         width: ['wide'],
                //         body: 'Async button'
                //     }
                // }
            };
        },
        helpers: { capitalize }
    };
</script>
