{{#if match}}
<style>
    .button-holder {
        display: inline-block;
        padding: 1rem 1rem 1rem 0;
    }
    .button-holder--wide {
        min-width: 20%;
    }
</style>

<Demo demoTitle="Buttons" variants="{{true}}" currentRoute='button'>
    <div slot="header">
        <Button />
        <Button type="{{['wide']}}" body="Wide" attrs={{widths}}/>
    </div>
    <div slot="variants">
        {{#each widths as buttonType}}
        <div class="button-holder button-holder--{{buttonType}}">
            <Button type={{buttonType}} body="{{capitalize(buttonType)}}"/>
        </div>
        {{/each}}

        <Async {{...asyncButton}} />
    </div>
</Demo>
{{else}}
<Routes match="button" />
{{/if}}

<script>
    import Button from './button.html';
    import Routes from '@/components/demo/demo.routes.html';
    import Demo from '@/components/demo/demo.wrapper.html';
    import Async from '@/components/async/async.html';
    import capitalize from '@/components/tools/title-case';

    export default {
        components: {
            Button, Routes, Demo, Async
        },
        data: () => ({
            widths: ['normal', 'wide', 'compact'],
            match: false,
            asyncButton: {
                loader: () => import('./button.html'),
                webpack: () => require.resolveWeak('./button.html'),
                props: {
                    width: ['wide'],
                    body: 'Async button'
                }
            }
        }),
        helpers: {
            capitalize,
        }
    };
</script>
