<button class="btn {{modifiers(type, 'btn--')}}" on:click="cycleTypes()">
    <span class="btn__body {{modifiers(type, 'btn__body--')}}">
        {{body}}
    </span>
    {{#if icon}}
        <span class="btn__icon {{modifiers(type, 'btn__icon--')}}">
            {{icon}}
        </span>
    {{elseif iconUrl}}
        <img class="btn__icon btn__icon--image {{modifiers(type, 'btn__icon--')}}" src="{{{iconUrl}}}" alt="">
    {{/if}}
</button>

<script>
    import modifiers from '../tools/modifiers.js';
    import titleCase from '@/components/tools/title-case.js';

    export default {
        data() {
            return {
                body: "Button",
                icon: false,
                iconUrl: false,
                type: []
            }
        },
        helpers: {
            modifiers
        },
        setup(thisComponent) {
            thisComponent.TYPES = ['wide', 'compact', ''];
        },

        methods: {
            cycleTypes() {
                const buttonTypes = this.constructor.TYPES;
                const currentType = this.get('type')[0] || '';
                const i = buttonTypes.indexOf(currentType);
                const nextItem = (buttonTypes.length - 1) > i ? buttonTypes[i + 1] : buttonTypes[0];

                this.set({body: titleCase(nextItem || 'normal')})
                return this.set({type: [nextItem]});
            }
        }
    }
</script>
