// Exponent function (for square, cubes, etc.)

@function exponent($base, $exponent){
      $value: $base;
      @if $exponent > 1{
        @for $i from 2 through $exponent{
          $value: $value * $base;
        }
      }
      @if $exponent < 1{
        @for $i from 0 through -$exponent{
          $value: $value / $base;
        }
       }
      @return ($value);
}


// Strip units from a sass value

@function strip-units($value) {
    @return $value / ($value * 0 + 1);
}


// Quickly generate a font-size in rems, with a pixel fallback, based on the
// value we pass into the mixin, e.g.:
//
// h1 {
//     @include type-font-size(24px);
// }
@mixin type-font-size($font-size, $line-height: true) {
    font-size: $font-size;
    font-size: ($font-size / $type-base-font-size) * 1rem;

    @if $line-height == true {
        line-height: ceil($font-size / $type-base-line-height)* $type-base-line-height;
        line-height: ceil($font-size / $type-base-line-height) * ($type-base-line-height) / $font-size;
    }

}

// Space elements by an amount based on your magic number. Pass in the property
// to be indented as a paramater and the number of lines to use as an optional paramater, e.g.:
// pre {
//     @include type-space(padding-left, 1);
// }

@mixin type-space($property, $multiplier: 2) {
    #{$property}: $multiplier * $type-magic-number;
    #{$property}: $multiplier * $type-magic-ratio + rem;
}

//Use this for padding or margin shortcuts. e.g.:
//pre {
//    @include type-space(padding, 1, 2, 1, 0);
// }

@mixin type-space-sc($property, $multiplier-1: 0, $multiplier-2: 0, $multiplier-3: 99, $multiplier-4: 99){
    @if $multiplier-3 == 99{
        $multiplier-3: $multiplier-1;
    }
    @if $multiplier-4 == 99{
        $multiplier-4: $multiplier-2;
    }
    #{$property}: $multiplier-1 * $type-magic-number $multiplier-2 * $type-magic-number $multiplier-3 * $type-magic-number $multiplier-4 * $type-magic-number;
    #{$property}: $multiplier-1 * $type-magic-ratio + rem $multiplier-2 * $type-magic-ratio + rem $multiplier-3 * $type-magic-ratio + rem $multiplier-4 * $type-magic-ratio + rem;
}
// Modular scale function to scale type up or down.
@function modular-scale($i){
    @return exponent($type-modular-scale, $i)*($stripped-base-font-size)*1px;
}

// This mixin can be used externally
// by using @include modular-scale([scale number, property]);.
// This is most useful for font sizing, but can be used for any property
// e.g.: div{
//          @include type-scale(margin-top, 2);}
// Would produce a margin-top value of the second value within your typographic scale.
// If your scale is set to 1.214, your output would be: div{margin-top: 20.63314px; margin-top: 1.4738rem;}

@mixin type-scale($property: font-size, $i: 1){
    @if $type-auto-scale == false{
        @warn "Please set $type-auto-scale to true or else type-scale is fairly meaningless.";
    }
    @if $property == "font-size"{
        $font-size: modular-scale($i);
        @include type-font-size($font-size);
    }
    @else{
        $scale: modular-scale($i);
        #{$property}: $scale;
        #{$property}: ($scale / $type-base-font-size) * 1rem;
    }
}

//Change text color based on background-color's darkness
@function set-text-color($color) {
    @if (lightness( $color ) > 50) {
      @return #000000;
    }
    @else {
      @return #FFFFFF;
    }
}

//Cross-browser (including IE) opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


//Lists
// Turn off the bullet for an element of a list
@mixin no-bullet {
  list-style-image : none;
  list-style-type  : none;
  margin-left      : 0;
}

// turns off the bullets for an entire list
@mixin no-bullets {
  list-style: none;
  li { @include no-bullet; }
}

// Make a list(ul/ol) have an image bullet.
//
// The mixin should be used like this for an icon that is 5x7:
//
//     ul.pretty
//       +pretty-bullets("my-icon.png", 5px, 7px)
//
// Additionally, if the image dimensions are not provided,
// The image dimensions will be extracted from the image itself.
//
//     ul.pretty
//       +pretty-bullets("my-icon.png")
//
@mixin pretty-bullets($bullet-icon, $width: image-width($bullet-icon), $height: image-height($bullet-icon), $line-height: $type-base-line-height, $padding: $type-magic-number) {
  margin-left: 0;
  li {
    padding-left: $padding;
    background: image-url($bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2;
    list-style-type: none;
  }
}
