//------------------------------------
//      $Overrides
//------------------------------------
// Final import. Include any overrides
// or high-specificity selectors.
//-----------------------------------


// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
audio:not([controls]) {
	display: none;
	height: 0;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.invisible {
	visibility: hidden !important;
}

.clearfix {
	@extend %clearfix;
}

.visually_hidden {
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.visually_hidden.focusable:active,
.visually_hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

//
// Clear fix. Add @extend %clearfix or @extend %cf to any element that needs self-clearing.
//
%clearfix, %cf{
	*zoom: 1;
	&:before,&:after{
		display: table;
		content: " ";
	}
	&:after{
		clear: both;
		height: 0px;
		width: 0px;
	}
}

//---Alignment Overrides--//
// Outputs alignment utility classes.

@if $breakpoint-has-alignment-classes != false {
	@include alignment-utilities('', false, true);

	@if $responsive {
		@if $breakpoint-has-alignment-classes != '' {
			@each $name in $breakpoint-has-alignment-classes {
				@include media-query($name) {
					@include alignment-utilities('#{$name}_', false, true);
				}
			}
		}
	}
}

//----Spacing Override classes---//
// Outputs spacing utility classes.

@if $breakpoint-has-spacing-classes != false {

	//Assume important and non-silent
	$spacing-config: ( important: true, silent: false );
	$spacing-config: map-extend($spacing-classes, $spacing-config, true);

	@include spacing-utilities('', $spacing-config);

	@if $responsive {
		@if $breakpoint-has-spacing-classes != '' {
			@each $name in $breakpoint-has-spacing-classes {
				@include media-query($name) {
					@include spacing-utilities('#{$name}_', $spacing-config );
				}
			}
		}
	}
}

//----Display Override classes---//
// Outputs hide/show (display) utility classes.
@if $breakpoint-has-display-classes != false {
	@include display-utilities('', false, true);

	@if $responsive {
		@if $breakpoint-has-display-classes != '' {
			@each $name in $breakpoint-has-display-classes {
				@include media-query($name) {
					@include display-utilities('#{$name}_', false, true);
				}
			}
		}
	}
}
