<button class="btn {modifiers(type, 'btn--')}">
    <span class="btn__body {modifiers(type, 'btn__body--')}">
        <slot>
            {body}
        </slot>
    </span>
    {#if icon}
        <span class="btn__icon {modifiers(type, 'btn__icon--')}">
            <slot name="icon">
                {icon}
            </slot>
        </span>
    {:elseif iconUrl}
        <img class="btn__icon btn__icon--image {modifiers(type, 'btn__icon--')}" src="{{iconUrl}}" alt="">
    {/if}
</button>

<script>
export default {
    data: () => ({
        body: 'Button',
        icon: false,
        iconUrl: false,
        attrs: false,
        type: [],
    }),
    helpers: {
        modifiers: (types, prefix) => {
            if (!types.length) {
                return '';
            }
            if (!Array.isArray(types)) {
                types = [types];
            }
            return types.map((type) => prefix + type).join(' ');
        },
    },
};
</script>
