<Demo demoTitle="Buttons" variants="{true}" currentRoute="Button">
    <div slot="header">
        <Button>Whatup, I'm a button</Button>
    </div>
    <div slot="variants">
        {#each widths as buttonType}
        <div class="button-holder button-holder--{buttonType}">
            <Button type="{buttonType}" body="{capitalize(buttonType)}"/>
        </div>
        {/each}
    </div>
</Demo>

<script>
import capitalize from '@/helpers/title-case';

export default {
    components: {
        Button: './index.html',
        Demo: '@/layouts/demo/index.html',
    },
    helpers: {
        widths: ['normal', 'wide', 'compact'],
        capitalize,
    },
};
</script>

<style lang="scss">
    @import '>/config/sass.config.scss';

    .button-holder {
        display: inline-block;
        padding: type-space(1 1 1 0);
    }
    .button-holder--wide {
        min-width: #{columns(1, 4)};
    }

    .btn {
        margin-bottom: type-space(1);
        margin-right: type-space(1);
        vertical-align: middle;
    }
</style>
