//------------------------------------*\
//    $CSSWIZARDRY-GRIDS
//------------------------------------*/

/* SG
# Grid [[dev]]

components/layout/_l-mixins.scss

-------------------------------------------

##### `$$grid-class-type`
###### String
Either a `%` or a `.` based on `$$grid-silent-classes`.


##### `$$human-readable-numerators`
###### List (string)
First words used to represent numbers corresponding to grid interval names.


##### `$$human-readable-denominators`
###### List (string)
Second words used to represent numbers corresponding to grid interval names.


##### `@silent-relative()`
###### mixin()
Allows for conditional `position: relative` for silent push or pull classes.

##### `@grid-setup()`
###### mixin()
Creates basic grid classes (listed below), called by `@grid-init()`.

_Note: `[% , .]` denotes a class that is either silent or

* ###### `%grid_reset`
 Useful for resetting the grid's effects without making full grid items.

* ###### `[% , .]grid`
 Wrapper class for grid widths. Puts a negative left margin of one unit. When not using floats, adds appropriate letter-spacing (for inline-block-based grid).

* ###### `[% , .]grid_item`
 Sets up a grid column. Uses column padding inherited from parent `%/.grid`.

* ###### `[% , .]grid_rev`
 Makes grid columns start from the right.

* ###### `[% , .]grid_right`
 Makes all grid columns align to the right.

* ###### `[% , .]grid_center`
 Makes all grid columns align to the center.

* ###### `[% , .]grid_middle`
 Makes all grid columns vertical align to the middle.

* ###### `[% , .]grid_bottom`
 Makes all grid columns vertical align to the bottom.

* ###### `[% , .]grid_full`
 Eliminates padding between grid columns.

* ###### `[% , .]grid_narrow`
 Reduces the padding between grid columns.

* ###### `[% , .]grid_wide`
 Increases the padding between grid columns.

##### `@width-setup()`
###### mixin(`$namespace`:"")
 Uses `$$human-readable-numerators` and `$$human-readable-denominators` to create percentage widths based on `$$grid-columns`.

##### `@push-setup()`
###### mixin(`$namespace`:"")
 Uses `$$human-readable_numerators` and `$$human-readable_denominators` to create percentage pushes (`left` or `margin-left`) based on `$$grid-columns`.

##### `@pull-setup()`
###### mixin(`$namespace`:"")
 Uses `$$human-readable_numerators` and `$$human-readable_denominators` to create percentage pull (`right` or negative `margin-left`) based on `$$grid-columns`.

##### `@grid-init()`
###### mixin()
 Calls the above mixins(`@grid-setup()`, `@width-setup()`, `@push-setup()`, `@pull-setup()`). Using the namespaces and media-queries defined in `$$breakpoint-has-widths`, `$$breakpoint-has-push`, and `$$breakpoint-has-pull`.

*/

//------------------------------------
//    $CSSWIZARDRY-GRIDS
//------------------------------------

 // CONTENTS
 // INTRODUCTION.........How the grid system works.
 // VARIABLES............Your settings.
 // MIXINS...............Library mixins.
 // GRID SETUP...........Build the grid structure.
 // WIDTHS...............Build our responsive widths around our breakpoints.
 // PUSH.................Push classes.
 // PULL.................Pull classes.

//------------------------------------
//    $INTRODUCTION
//------------------------------------

 // csswizardry grids provides you with widths to suit a number of breakpoints
 // designed around devices of a size you specify. Out of the box, csswizardry
 // grids caters to the following types of device:

 // palm     --  palm-based devices, like phones and small tablets
 // lap      --  lap-based devices, like iPads or laptops
 // port     --  all of the above
 // desk     --  stationary devices, like desktop computers
 // regular  --  any/all types of device

 // These namespaces are then used in the library to give you the ability to
 // manipulate your layouts based around them, for example:

 //  <div class="grid_item  one_whole  lap_one_half  desk_one_third">

 // This would give you a grid item which is 100% width unless it is on a lap
 // device, at which point it become 50% wide, or it is on a desktop device, at
 // which point it becomes 33.333% width.

 // csswizardry grids also has push and pull classes which allow you to nudge
 // grid items left and right by a defined amount. These follow the same naming
 // convention as above, but are prepended by either `push--` or `pull--`, for
 // example:

 //   `class="grid_item  one_half  push_one_half"`

 // This would give you a grid item which is 50% width and pushed over to the
 // right by 50%.

 // All classes in csswizardry grids follow this patten, so you should fairly
 // quickly be able to piece together any combinations you can imagine, for
 // example:

 //  `class="grid_item  one_whole  lap_one_half  desk_one_third  push_desk_one_third"`

 //  `class="grid_item  one_quarter  palm_one_half  push_palm_one_half"`

 //  `class="grid_item  palm_one_third  desk_five_twelfths"`


$push-type: 			unquote('left');
$pull-type: 			unquote('right');
$pulls: 				unquote('');

@if $grid-margin-adjustments{
	$push-type: 		unquote('margin-left');
	$pull-type: 		unquote('margin-left');
	$pulls: 			unquote('-'); //Using negative margins for pulls
}

$grid-class-type:            unquote(".");

@if $grid-silent-classes == true {
    $grid-class-type:        unquote("%") !global;
}

//Grid
$human-readable_numerators: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen, nineteen, twenty;

$human-readable_denominators: whole, half, third, quarter, fifth, sixth, seventh, eighth, ninth, tenth, eleventh, twelfth, thirteenth, fourteenth, fifteenth, sixteenth, seventeenth, eighteenth, nineteenth, twentieth;




//------------------------------------
//    $MIXINS
//------------------------------------

//
// Drop relative positioning into silent classes which can’t take advantage of
// the `[class*="push--"]` and `[class*="pull--"]` selectors.
//
@mixin silent-relative(){
    @if $grid-silent-classes == true {
        position: relative;
    }
}

//
// Useful for resetting the grid's effects
// without making full grid items
//
@mixin grid-setup() {
	%grid_reset {
		letter-spacing: normal;
		word-spacing: normal;
	}

	//*------------------------------------
	//    $GRID SETUP
	//*------------------------------------
	 // 1. Allow the grid system to be used on lists.
	 // 2. Remove any margins and paddings that might affect the grid system.
	 // 3. Apply a negative `margin-left` to negate the columns’ gutters.
	 //
	#{$grid-class-type}grid {
	    list-style: none;                // [1]
	    margin: 0;                       // [2]
	    padding: 0;                      // [2]
	    @include type-space(margin-left, -1);

		@if $grid-markup-fix != true and $grid-floats != true{
	        letter-spacing:-0.35em;
	    }

		@if $grid-floats == true {
	        @extend %clearfix;
	    }
	}

	@if $grid-markup-fix != true and $grid-floats != true {
	    // Opera hack
	    .opera:-o-prefocus,
	    #{$grid-class-type}grid{
	        word-spacing:-0.43em;
	    }
	}

	// 1. Cause columns to stack side-by-side.
	// 2. Space columns apart.
	// 3. Align columns to the tops of each other.
	// 4. Full-width unless told to behave otherwise.
	// 5. Required to combine fluid widths and fixed gutters.
	//
	#{$grid-class-type}grid_item {
	    @if $grid-floats != true {
	        display:inline-block;     // [1]
	    }@else{
	        display: block;
	        float: left;
	    }
	    @include type-space(padding-left, 1); //[2]
	    vertical-align: top;             // [3]

		@if $mobile-first == true{
	        width:100%;                 // [4]
	    }

	    @if $grid-markup-fix != true and $grid-floats != true { //5
	        letter-spacing: normal;
	        word-spacing: normal;
	    }
	}

	// Special class for grid items that need to behave like both grids and grid__items.
	#{$grid-class-type}grid_grid_item{
	    @extend #{$grid-class-type}grid;
	    @extend #{$grid-class-type}grid_item;
	    padding-left: 0;
	    margin-left: 0;
	}

	//
	// Reversed grids allow you to structure your source in the opposite order to
	// how your rendered layout will appear. Extends `.grid`.
	//
	#{$grid-class-type}grid_rev{
	    @if $grid-floats == true {
	        @extend %clearfix;
	    }
	    @if $grid-floats != true {
	        direction: rtl;
	        text-align: left;

	        #{$grid-class-type}grid_item{
	            direction: ltr;
	            text-align: left;
	        }
	    }@else{
	        > #{$grid-class-type}grid_item{
	            float: right;
	            text-align: left;
	        }
	    }
	}


	//
	// Align the entire grid to the right. Extends `.grid`.
	//
	#{$grid-class-type}grid_right{
	    @if $grid-floats != true {
	        text-align:right;

	        > #{$grid-class-type}grid_item {
	            text-align: left;
	        }
	    }@else{
	        float: right;
	        @extend %clearfix;

	        > #{$grid-class-type}grid_item {
	        float: right;
	        }
	    }
	}


	//
	// Centered grids align grid items centrally without needing to use push or pull
	// classes. Extends `.grid`.
	//
	// Not availabe
	#{$grid-class-type}grid_center{
	    @if $grid-floats != true {
	        text-align:center;

	        > #{$grid-class-type}grid_item {
	            text-align:left;
	        }
	    }
	}


	//
	// Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
	// `.grid`.
	//
	#{$grid-class-type}grid_middle{

	    > #{$grid-class-type}grid_item {
	        vertical-align:middle;
	    }
	}

	#{$grid-class-type}grid_bottom{

	    > #{$grid-class-type}grid_item {
	        vertical-align:bottom;
	    }
	}


	//
	// Gutterless grids have all the properties of regular grids, minus any spacing.
	// Extends `.grid`.
	//
	#{$grid-class-type}grid_full{
	    margin-left: 0;

		@if $grid-floats == true {
	        @extend %clearfix;
	    }

	    > #{$grid-class-type}grid_item {
	        padding-left:0;
	    }
	}


	//
	// Create grids with narrower gutters. Extends `.grid`.
	//
	#{$grid-class-type}grid_narrow {
	    @include type-space(margin-left, -.5);

		> #{$grid-class-type}grid_item {
	        @include type-space(padding-left, .5);
	    }
	}


	//
	// Create grids with wider gutters. Extends `.grid`.
	//
	#{$grid-class-type}grid_wide {
	    @include type-space(margin-left, -2);

		> #{$grid-class-type}grid_item {
	        @include type-space(margin-left, 2);
	    }
	}
}




//------------------------------------
//    $WIDTHS
//------------------------------------

// Create our width classes, prefixed by the specified namespace.

@mixin width-setup($namespace:"") {

    //
    // Automatic Grids.
	// @author: Chris Lee, based on css-wizardry grids.
    // If columns are defined as anything other than 12, then we must calculate our grids.
    // Ultimately, these loops limit themselves upon iteration.
    // This makes it so there can only be one fewer versions of the denominator (e.g. one_third, two_thirds).
    //
    // Just FOR REFERENCE: A numerator is the first (top) number in a fraction. The denominator is the second (bottom) number.
    //
    // [1] Loop through the $grid-columns.
    // [2] Loop through $divisor (same number as $grid-columns). This acts as the second number in our column fraction.
    // [3a]Loop through $divisor before it decreases by 1 from the previous loop.
    // [3b]After widths are defined, subtract 1 from $divisor.
    // [4] Assign the numerator and denominator of our fraction to human-readable versions (e.g. three, four, third, quarter, etc.).
    // [5] Check if the numerator equals 1 (one). If so, we keep our singular human-readable numerators and denominators (e.g. one_twelfth).
    // [6] If the numerator is larger than 1(one), add an 's' to our selector (e.g. two_eighths).
    //
    // Same system used for pushes and pulls.

        $divisor: $grid-columns;
		$class-name: '';
		$class-name-list: ();

        @for $i from 1 to $grid-columns {                                               // [1]

            @while $divisor > 0 {                                                  // [2]

                @for $numerator from 1 to $divisor{                                // [3a]
					//Create numerator (first number, e.g. 'two').
                    $numerators: nth($human-readable_numerators, $numerator);      // [4]

					//Create denominator (second number, e.g. 'twelfths').
                    $denominator: nth($human-readable_denominators, $divisor);

					//Divide first number(numerator) by second number(denominator).
                    $width: percentage($numerator / $divisor);

                    @if $numerator == 1{                                          // [5]

						$class-name: #{$grid-class-type}#{$namespace}#{$numerators}_#{$denominator};

                    }@else{                                                        // [6]
                        $class-name: #{$grid-class-type}#{$namespace}#{$numerators}_#{$denominator}s;
                    }

					#{$class-name} { width: $width; }

					@if $grid-silent-classes and $silent-class-debug {
						$class-name-list: map-merge($class-name-list, ($class-name: $width));
					}

                }
                $divisor: $divisor - 1; //[3b]
            }
        }


        #{$grid-class-type}#{$namespace}one_whole {
			width:100%; }

        #{$grid-class-type}#{$namespace}one_fourth {
			@extend #{$grid-class-type}#{$namespace}one_quarter; }

        #{$grid-class-type}#{$namespace}two_fourths {
			@extend #{$grid-class-type}#{$namespace}two_quarters; }

        #{$grid-class-type}#{$namespace}three_fourths {
			@extend #{$grid-class-type}#{$namespace}three_quarters; }


		@if $grid-silent-classes and $silent-class-debug {
			$class-name-list: map-merge($class-name-list,(
				#{$grid-class-type}#{$namespace}one_whole: 100%
			));
			$silent-class-registry: silents-register($class-name-list, 'widths') !global;
		}
}

//------------------------------------\\
//    $PUSH
//------------------------------------\\

 // Push classes, to move grid items over to the right by certain amounts.

@mixin push-setup($namespace: ""){
        $divisor: $grid-columns;

        @for $i from 1 to $grid-columns {                                               // [1]

            @while $divisor > 0 {                                                  // [2]

                @for $numerator from 1 to $divisor{                                // [3a]

                    $numerators: nth($human-readable_numerators, $numerator);      // [4]
                    //Create numerator (first number, e.g. 'two').

                    $denominator: nth($human-readable_denominators, $divisor);
                    //Create denominator (second number, e.g. 'twelfths').

                    $width: percentage($numerator / $divisor);
                    //Divide first number(numerator) by second number(denominator).

                    @if $numerator == 1{                                          // [5]

                        #{$grid-class-type}push_#{$namespace}#{$numerators}_#{$denominator} {
                            #{$push-type}: $width; @include silent-relative();
                        }

                    }@else{                                                        // [6]

                        #{$grid-class-type}push_#{$namespace}#{$numerators}_#{$denominator}s {
                            #{$push-type}: $width; @include silent-relative();
                        }

                    }
                }
                $divisor: $divisor - 1; //[3b]
            }
        }

        #{$grid-class-type}push_#{$namespace}one_whole {
			#{$push-type}: 100%; @include silent-relative();
		}
        #{$grid-class-type}push_#{$namespace}one_fourth {
			@extend #{$grid-class-type}push_#{$namespace}one_quarter;
		}
        #{$grid-class-type}push_#{$namespace}two_fourths {
			@extend #{$grid-class-type}push_#{$namespace}two_quarters;
		}
        #{$grid-class-type}push_#{$namespace}three_fourths {
			@extend #{$grid-class-type}push_#{$namespace}three_quarters;
		}
}

//----------------------\\
//   $PULL
//----------------------\\

@mixin pull-setup($namespace: ""){
        $divisor: $grid-columns;

        @for $i from 1 to $grid-columns {                                               // [1]

            @while $divisor > 0 {                                                  // [2]

                @for $numerator from 1 to $divisor{                                // [3a]

                    $numerators: nth($human-readable_numerators, $numerator);      // [4]
                    //Create numerator (first number, e.g. 'two').

                    $denominator: nth($human-readable_denominators, $divisor);
                    //Create denominator (second number, e.g. 'twelfths').

                    $width: percentage($numerator / $divisor);
                    //Divide first number(numerator) by second number(denominator).

                    @if $numerator == 1{                                          // [5]

                        #{$grid-class-type}pull_#{$namespace}#{$numerators}_#{$denominator} {
                            #{$pull-type}: #{$pulls}$width; @include silent-relative();
                        }

                    }@else {                                                       // [6]

                        #{$grid-class-type}pull_#{$namespace}#{$numerators}_#{$denominator}s {
                            #{$pull-type}: #{$pulls}$width; @include silent-relative();
                        }
                    }
                }
                $divisor: $divisor - 1; //[3b]
            }
        }
		#{$grid-class-type}pull_#{$namespace}one_whole {
			#{$pull-type}: 100%; @include silent-relative();
		}
        #{$grid-class-type}pull_#{$namespace}one_fourth {
			@extend #{$grid-class-type}pull_#{$namespace}one_quarter;
		}
        #{$grid-class-type}pull_#{$namespace}two_fourths    {
			@extend #{$grid-class-type}pull_#{$namespace}two_quarters;
		}
        #{$grid-class-type}pull_#{$namespace}three_fourths  {
			@extend #{$grid-class-type}pull_#{$namespace}three_quarters;
		}
}


@mixin grid-init() {

	@include grid-setup();

	@include width-setup();
	// Our responsive classes, if we have enabled them.

	@if $responsive == true {
	    @each $name in $breakpoint-has-widths {
	        @include media-query($name) {
	           @include width-setup('#{$name}_');
	        }
	    }
	}

	@if $grid-push == true {
	    // Not a particularly great selector, but the DRYest way to do things.
	    @if $grid-silent-classes != true {
	        [class*="push_"]{ position: relative; }
	    }

	    @include push-setup();

	    @if $responsive == true {
	        @each $name in $breakpoint-has-push {
	            @include media-query($name) {
	               @include push-setup('#{$name}_');
	            }
	        }
	    }
	}

	@if $grid-pull == true {
	    // Not a particularly great selector, but the DRYest way to do things.
	    @if $grid-silent-classes != true {
	        [class*="pull_"]{ position:relative; }
	    }

	    @include pull-setup();

	    @if $responsive == true {
	        @each $name in $breakpoint-has-pull {
	            @include media-query($name) {
	               @include  pull-setup('#{$name}_');
	            }
	        }
	    }
	}
}
