{{#if component}}
    <:Component {component} {{...attrs}} />
{{elseif fallback}}
    <:Component {fallback} {{...attrs}} />
{{elseif SSRComponent}}
    <:Component {SSRComponent} {{...attrs}} />
{{elseif error}}
    <div> {{error}} </div>
{{/if}}

<script>
    export default {
        data() {
            return {
                component: null,
                fallback: null,
                loader: null,
                webpack: null,
                attrs: null,
                error: null
            };
        },
        computed: {
            SSRComponent: (webpack) => {
                if (document || window) { return false; }
                // Find module in webpack cache
                const mod = __webpack_modules__[webpack()];

                // If module has a name or id, load it by that (and get its exports)
                // Otherwise, load it as is
                const component = mod.name || mod.id ?
                    getExport(__webpack_require__(mod.name || mod.id))
                    : mod && __webpack_require__(webpack());
                return component ? component : false;
            }
        },
        methods: {
            async getComponent() {
                let loader = this.get('loader');
                try {
                    if (loader) {
                        return loader().then((Component) => Component);
                    }
                }
                catch (err) {
                    this.set({ 'error': err });
                    return err;
                }
            }
        },
        async oncreate() {
            const { default: component } = await this.getComponent();
            this.set({component: component});
        }
    };

    function getExport(mod) {
        return mod && typeof mod === 'object' && mod.__esModule ? mod["default"] : mod;
    }
</script>
