{{#if component}}
    <:Component {component} {{...attrs}} />
{{elseif loading && loadingComponent}}
    <:Component {loadingComponent} {{...attrs}} />
{{elseif SSRComponent}}
    <:Component {SSRComponent} {{...attrs}} />
{{elseif error}}
    <div> {{error}} </div>
{{/if}}

<script>
    export default {
        data() {
            return {
                attrs: {},
                component: null,
                loadingComponent: null,
                errorComponent: null,
                loader: null,
                webpack: null,
                error: null,
                loading: false,
            };
        },
        computed: {
            SSRComponent: (webpack) => {
                if (document || window) { return false; }
                const load = webpack();
                // Find module in webpack cache
                const mod = __webpack_modules__[load];
                const component = requireModule(mod, load);
                return component && component;
            }
        },
        methods: {
            async getComponent() {
                let loader = this.get('loader');

                try {
                    if (loader) {
                        return loader().then((Component) => Component);
                    }
                }
                catch (err) {
                    this.set({ 'error': err });
                    return err;
                }
            }
        },
        async oncreate() {
            this.set({loading: true});
            const { default: component } = await this.getComponent();
            this.set({component: component, loading: false});
        }
    };

    function requireModule(mod, load) {
        // Reject any modules not found in webpack
        if (typeof mod === 'undefined') {
            return false;
        }
        // We pass the id, name
        return getExport(__webpack_require__(mod.name || mod.id || load))
    }

    function getExport(mod) {
        return mod && typeof mod === 'object' && mod.__esModule ? mod["default"] : mod;
    }
</script>
