.icon {
	width: 1.2em;
	margin-right: .5em;
	display: inline-block;
	margin-top: -.25em;
}

.box_open{
	border-width: 2px 0;
}

[class*="list_bordered"] > li{
	border-top-width: 2px;
	margin-top: -2px;

	&:first-child{
		border-top-color: color(bg, dark);
	}

	&:last-child {
		border-bottom: 2px solid color(bg, dark);
		margin-bottom: 4px;
	}
}

.tab,
.list_nav a {
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: bold;
    @include font-size($type-small-size, $type-small-lh);
	text-decoration: none;
}

.toggles{
    position: fixed;
    top: -1px;
    right: -1px;
    z-index: z(modal);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 0px 0px 0px 3px;
}
