// 1. Enable line-wrapping in IE8+.
// 2. Enable line-wrapping in old versions of some other browsers.
legend {
    display: table; // [1]
    white-space: normal; // [2]
}

button,
input {
    border: 0;
    line-height: $type-p-lh;
}

button,
input,
select,
textarea {
    background-color: #fff;
}

dialog {
    background-color: #fff;
    @include type-space(padding, 1);
}

//Allow styling of particularly annoying inputs
select input[type='submit'],
input[type='button'],
input[type='image'],
input[type='reset'] {
    -webkit-border-radius: 0;
    border-radius: 0; //Mobile Safari
}

textarea {
    overflow: auto; // Edge 12+, Internet Explorer 11-
    resize: vertical;
}
