$alignment-output: true;

@if $include-alignment-classes == true{
	$alignment-output: false !global;
}

@mixin responsive-alignment(
	$namespace: "",
	$silent: false
)
{
	$selector: unquote(", .");

    @if $silent == true{
        $selector: unquote("//");
    }

	%#{$namespace}align_left#{$selector}#{$namespace}align_left
	{
		float: left !important;
		@include type-space(margin-right, 1);
	}
	%#{$namespace}align_right#{$selector}#{$namespace}align_right
	{
		float: right !important;
		@include type-space(margin-left, 1);
	}
	%#{$namespace}align_center#{$selector}#{$namespace}align_center
	{
		float: none !important;
		margin: 0 auto;
		display: block;
	}
	%#{$namespace}align_none#{$selector}#{$namespace}align_none
	{
		float: none !important;
		margin: 0;
	}
	%#{$namespace}float_left#{$selector}#{$namespace}float_left
	{
		float: left !important;
	}
	%#{$namespace}float_right#{$selector}#{$namespace}float_right
	{
		float: right !important;
	}
	%#{$namespace}float_none#{$selector}#{$namespace}float_none
	{
		float: none !important;
	}
}

@include responsive-alignment("", $alignment-output);

@if $responsive == true{
    @each $name in $breakpoint-has-widths {
        @include media-query($name) {
           @include responsive-alignment('#{$name}_', $alignment-output);
        }
    }
}