//------------------------------------
//    $VISIBILITY CLASSES
//------------------------------------
//Mixin to used for media-query-scoped display/visibility classes.
//e.g.: %show, %smalls_show, %bigs_show;
// Defined by $visibility-classes in

//Use an image instead of text, but keep the text in the DOM for
//screen readers.
//Particularly useful for logos. e.g.
// .logo{
//   @include %image-replace;
//   background: url(image/logo.png) no-repeat;
// }
%replace_image {
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	border: 0;
	*text-indent: -9999px;

	&:before{
		content: "";
		@extend %show;
		width: 0;
		height: 150%;
	}
}

%border_box {
	box-sizing: border-box;
}

// Font family declaration.
// Allows for cleaner, consolodated code.
%primary_font_family {
	font-family: $primary-font-stack;
}
%secondary_font_family {
	font-family: $secondary-font-stack;
}

//Optimized rendering. Best saved for areas where legibility is a concern.
//Not declaring this will result in auto, allowing the browser to determine
//whether speed is best.
%text_legibility {
	text-rendering: optimizeLegibility;
}

%naked_list {
	@include no-bullets;
}

//Hide Visually. Usefuly for Accessiblity.
//Used for text which describes a purely visual function.
// e.g. Adding 'Current page' to the current nav item (which is usually indicated by something visual.
%visually_hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	transition: all 300ms ease-in-out;
}

@mixin display-utilities(
	$namespace:"",
	$silent: false,
	$important: true,
	$class-list: $display-classes) {

	$classtype: if($silent, unquote('%'), unquote("."));
	$important_str: if($important, ' !important', '');
	$display-registry: ();

	@each $name, $display in $class-list {
		//Check for existence of a previous class using the same display
		$display-lookup: index($display-registry, $display);
		//If it exists, look it up in the map and extend that value.
		@if $display-lookup != null {
			$extender: nth(nth($class-list, $display-lookup), 1);

			#{$classtype}#{$namespace}#{$name} {
				@extend #{$classtype}#{$namespace}#{$extender};
			}

		}@else {
			#{$classtype}#{$namespace}#{$name}{
				display: #{$display} 	#{$important_str};
			}
			//Keep track of display values so we can extend if necessary
			$display-registry: append($display-registry, $display);
		}
	}

	#{$classtype}#{$namespace}hide     { display: 	 none		#{$important_str}; }
}


//Create silent versions of the above classes
$default-display-classes: (show: 'block', bl: 'block', il_bl: 'inline_block', tbl: 'table', tbl_cl: 'tbl_cl', hide: 'none', display_block: 'block');

//Merge user-defined classes with defaults (so we have a wide-array of silent classes)
$silent-display-classes: map-extend($display-classes, $default-display-classes, true);

@include display-utilities('', true, false, $silent-display-classes);

@if $responsive == true {
	@each $name in $breakpoint-has-widths {
		@include media-query($name) {
		   @include display-utilities('#{$name}_', true, false, $silent-display-classes);
		}
	}
}
