.box {
    @extend %grid_reset;
    @include type-space(padding, 1);
    @include type-space(margin-bottom, 1);

    > :last-child {
    	margin-bottom: 0;
    }
}

.box_closed {
    border: 1px solid color(bg, dark);
}

//Creates a responsive, square container.
//Must have a .body inside for content.
.box_ratio {
    position: relative;
    display: block;
	overflow: hidden;
	word-break: break-word;

	@include media-query($breakpoint-smallest) {
		@include type-space(max-height, 5);
	}

	& .box_body {
        @include type-space(padding, .5 .5 0);
        display: block;
		position: absolute;
		top: 0;
		left: 0;
        right: 0;
		text-align: left;
	}
}
//
//Modifiers for box_ratio
//

// 3:4 box
.box_pano:before {
	margin-top: 75%;
}
// 1:2 box
.box_wide:before {
	margin-top: 50%;
}
