<Demo demoTitle="Buttons" variants="{true}" currentRoute='hero'>
    <div slot="header">
        <div class="hero-holder">
            <Hero />
        </div>
    </div>
    <div slot="variants">
        {#each widths as buttonType}
        <div class="button-holder">
            <Hero type={buttonType} header="{capitalize(buttonType)}"/>
        </div>
        {/each}
    </div>

    <style>
        .hero-holder {
            display: block;
            width: 100vw;
            position: absolute;
            left: 0;
            padding: 1rem 1rem 1rem 0;
        }
    </style>
</Demo>

<script>
    import capitalize from '../tools/title-case.js';

    export default {
        components: {
            Demo: '@/components/demo/demo.wrapper.html',
            Hero: './hero.html',
        },
        data() {
            return {
                widths: ['normal', 'wide', 'compact']
            };
        },
        helpers: {
            capitalize
        },
        oncreate() {
            this.root.store.set({'pageTitle': 'Hero'});
        }
    };
</script>
