<div class="hero {modifiers(type, 'btn--')}" style="background-image: url('{{imageUrl}}');">
    <div class="hero__body">
        <h1 class="hero__header">{@html header}</h1>
    </div>
</div>

<script>
    import modifiers from '../tools/modifiers.js';
    import titleCase from '@/components/tools/title-case.js';

    export default {
        data() {
            return {
                header: "Button",
                body: "",
                imageUrl: "",
                type: []
            }
        },
        helpers: {
            modifiers
        },
        setup(thisComponent) {
            thisComponent.TYPES = ['large', 'compact', ''];
        },

        methods: {
            cycleTypes() {
                const buttonTypes = this.constructor.TYPES;
                const currentType = this.get('type')[0] || '';
                const i = buttonTypes.indexOf(currentType);
                const nextItem = (buttonTypes.length - 1) > i ? buttonTypes[i + 1] : buttonTypes[0];

                this.set({body: titleCase(nextItem || 'normal')})
                return this.set({type: [nextItem]});
            }
        }
    }
</script>
