<Demo demoTitle="Generic" variants="{true}" currentRoute="generic">
    <div slot="header">
        <Generic/>
    </div>
    <div slot="variants">
        {#each widths as componentType}
            <Generic type={componentType} body="{capitalize(componentType)}" header='Generic {capitalize(componentType)} "Card"'/>
        {/each}
    </div>
</Demo>

<script>
    import capitalize from '../tools/title-case.js';

    export default {
        components: {
            Demo: '@/components/demo/demo.wrapper.html',
            Generic: './generic.html'
        },
        data() {
            return {
                widths: ['normal', 'wide', 'compact']
            };
        },
        oncreate() {
            // Simple way to override the default page title template
            this.root.store.set({'pageTitle': 'Generic Cards'});
        },
        helpers: {
            capitalize
        }
    };
</script>
