.wrap {
    display: block !important;
    float: none;
    margin: 0 auto;
    width: 95%;
    max-width: $max-site-width;
    @include type-space(padding, 1 0);
    @include clearfix;

    @include mq(smallish) {
        width: 93%;
    }
    @include mq(bigs) {
        width: 90%;
    }
}

.wrap--content {
    @include rems(max-width, $max-content-width);
}

.wrap--wide-content {
    @include rems(max-width, $max-wide-content-width);
}
