<!DOCTYPE html>
<html lang="en">
{{> ../header/_header.hbs}}
<body>
    {{{htmlWebpackPlugin.options.sourceScript}}}
    {{#if pageContent}}
        {{{pageContent}}}
    {{else if htmlWebpackPlugin.options.evaledTemplate}}
    <div id="app">
        {{{htmlWebpackPlugin.options.evaledTemplate}}}
    </div>
    {{/if}}
{{> ../footer/_footer.hbs}}
</body>
</html>
