<header id="feedTop">
    {#if feedResults}{#if page !== 1}
    <button class="btn" on:click="set({'page': page - 1})">
        ← Page {page - 1}
    </button>
    {/if}
    <span>{pageString}</span>
    {#if feedMax}
    <button class="btn" on:click="set({'page': page + 1})">
        Page {page + 1} →
    </button>
    {/if}{/if}
    <hr class="ov-space-t" >
</header>

<div>
<!-- Cached feed, from store -->
{#if $feedResults}
    {#each $feedResults.result.slice(pageStart, pageEnd)
        as result (result.title)
    }
    <Results ref:feedList {...result} {page} {MAX_PER_PAGE} />
    {/each}
{/if}
</div>

<div>
    <hr class="ov-space-t" />
    {#if feedResults} {#if page !== 1}
    <button class="btn" on:click="scrollFeed(page - 1)">
        ←&nbsp; &nbsp; Page {page - 1}
    </button>
    {/if}
    <span>{pageString}</span>
    {#if feedMax}
    <button class="btn" on:click="scrollFeed(page + 1)">
        Page {page + 1} &nbsp; &nbsp;→
    </button>
    {/if}{/if}
</div>

<style>
    header {
        margin-bottom: 1.6rem;
    }
    :root {
        scroll-behavior: smooth;
    }
    button {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }
    span {
        margin: 0 2.25rem;
    }
</style>

<script>
    import store from '@/layouts/demo/demo.store.js';

    export default {
        components: {
            Results: './result.html',
        },
        computed: {
            feedMax: ({ page, MAX_PER_PAGE, feedResults }) => {
                if (feedResults && feedResults.result) {
                    return page * (MAX_PER_PAGE + 1) <= feedResults.result.length;
                }
                return false;
            },
            pageString: ({ page }) => {
                return page && 'Page ' + page;
            },
            pageStart: ({ page, MAX_PER_PAGE }) => {
                return page === 1
                    ? 0
                    : Math.max(0, (page - 1) * (MAX_PER_PAGE + 1));
            },
            pageEnd: ({ pageStart, MAX_PER_PAGE }) => {
                return pageStart + MAX_PER_PAGE + 1;
            },
        },
        methods: {
            scrollFeed(pageNum) {
                this.set({ page: pageNum });
                window.scroll(0, this.get()['feedTop']);
            },
        },
        oncreate() {
            this.set({ feedTop: document.getElementById('feedTop').offsetTop });
        },
        onupdate({ changed, current, previous }) {
            const _this = this;
            if (previous && changed.page && current.page !== previous.page) {
                store.set({ feedPage: _this.get()['page'] });
            }
        },
        store: () => store,
    };
</script>
