<div id="feedTop" style="display:block; height:0; visibility:hidden;"></div>
<header>
{#if feedResults}
    {#if page !== 1}
    <button class="btn u-space-r-half" on:click="set({'page': page - 1})">« Page {page - 1}</button>
    {/if}
        {pageString}
    {#if feedMax}
        <button class="btn u-space-l-half" on:click="set({'page': page + 1})">Page {page + 1} »</button>
    {/if}
{/if}
    <hr class="u-space-t">
</header>

{#if $feedResults}
    <!-- Cached feed, from store -->
    {#each $feedResults.result.slice(pageStart, pageEnd) as result (result.title)}
    <Results ref:feedList {...result} {page} {MAX_PER_PAGE}/>
    {/each}
{:else}

    {#await feed}
    <p>Loading Feed...</p>
    {:then response}
    {#if response && response.results}
        {#each response.results.result.slice(pageStart, pageEnd) as result (result.title)}
            <Results ref:feedList {...result} {page} {MAX_PER_PAGE}/>
        {/each}
    {/if}
    {:catch error}
    <p>Feed load error: {@html error}</p>
    {/await}

{/if}

{#if feedResults}
    {#if page !== 1}
        <button class="btn" on:click="set({'page': page - 1})">« Page {page - 1}</button>
    {/if}
        {pageString}
    {#if feedMax}
        <button class="btn" on:click="set({'page': page + 1})">Page {page + 1} »</button>
    {/if}
{/if}

<style>
    header {
        margin-bottom: 1.6rem;
    }
    :root {
        scroll-behavior: smooth;
    }
</style>

<script>
import store from '@/modules/demo/demo.store.js';

export default {
    components: {
        Results: './result.html',
    },
    computed: {
        feedMax: ({ page, MAX_PER_PAGE, feedResults }) => {
            if (feedResults && feedResults.result) {
                return page * (MAX_PER_PAGE + 1) <= feedResults.result.length;
            }
            return false;
        },
        pageString: ({ page }) => {
            return page && 'Page ' + page;
        },
        pageStart: ({ page, MAX_PER_PAGE }) => {
            return page === 1
                ? 0
                : Math.max(0, (page - 1) * (MAX_PER_PAGE + 1));
        },
        pageEnd: ({ pageStart, MAX_PER_PAGE }) => {
            return pageStart + MAX_PER_PAGE + 1;
        },
    },
    oncreate() {
        this.set({ feedTop: document.getElementById('feedTop').offsetTop });
        this.on('update', ({ changed }) => {
            if (changed.page) {
                window.scroll(0, this.get()['feedTop']);
            }
        });
    },
    ondestroy() {
        const _this = this;
        // Store the page number
        store.set({ 'feed:page': _this.get()['page'] });
    },

    store: () => store,
};
</script>
