//Allow a toggle for baseline image
@if $debug-baseline == true {

    $type-baseline-size: strip-units($type-base-unit);

	.baseline-on {
        background-image: url(http://basehold.it/i/#{$type-baseline-size}); // [3]
        background: linear-gradient(to top, rgba(0, 0, 0, .15) 1px, transparent 1px, rgba(black, .15) 1px, transparent 1px) top left / auto (($type-base-ratio / 2) * 1em);
    }

    .baseline-off {
        background-image: none;
    }
}


//Output all silent classes and values at the end of the CSS file if silent-class debugging is enabled. Will not show up in minified output

@if $debug-silent-classes {
/*! Silent classes:
	#{map-inspect($silent-class-registry)}
*/
}

@if $debug-breakpoints {
    @each $breakpoint in $all-breakpoints {
        @include mq($breakpoint) {
            body:after {
                content: "#{$breakpoint}";
                position: fixed;
                top: 0;
                right: 0;
                background: #fff;
                padding: 10px;
                z-index: 999999;
            }
        }
    }
}
