//Allow a toggle for baseline image
@if $debug-baseline == true {

    $type-baseline-size: strip-units($type-base-unit);

	.baseline-on {
        background-image: url(http://basehold.it/i/#{$type-baseline-size}); // [3]
        background: linear-gradient(to top, rgba(0, 0, 0, .15) 1px, transparent 1px) top left / auto $type-base-ratio * 1em;
    }

    .baseline-off {
        background-image: none;
    }
}


//Output all silent classes and values at the end of the CSS file if silent-class debugging is enabled. Will not show up in minified output

@if $debug-silent-classes {
/*! Silent classes:
	#{map-inspect($silent-class-registry)}
*/
}
