//------------------------------------
//      $Overrides
//------------------------------------
// Final import. Include any overrides
// or high-specificity selectors.
//-----------------------------------

.list_naked {
    @include no-bullets();
    margin: 0;
}

.visually_hidden {
	@extend %visually_hidden;
}

.visually_hidden.focusable:active,
.visually_hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.contain {
    position: relative !important;
}

.clearfix {
	@extend %clearfix;
}
